<section title="证人是否出庭" class="verification-witness">
  <div class="access">
    <i class="el-icon-edit-outline"></i>
    <em>信息核对&nbsp;-&nbsp;证人是否出庭</em>
    <div class="tools">
      <el-tag size="small" type="warning" v-if="trial.adjourn ==='verification-witness'">此处休庭</el-tag>
      <el-dropdown>
        <el-button type="primary" size="small">
          操作<i class="el-icon-arrow-down el-icon--right"></i>
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>
            <i @click="setAdjourn('verification-witness')" class="fa fa-gavel">&nbsp;休庭</i>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
  <div class="content">
    <p>审：经核对，各方当事人和其他诉讼参加人均符合法律规定，可以参加本次诉讼活动。各方当事人是否有证人出庭作证？</p>
    <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
        <p v-if="subject.showFlag">
          原<span>{{ subject.ordinal }}</span>：
          <el-select v-model="subject.witness.detail" class="width-25" @change="witness()">
            <el-option v-for="option in options.requirement" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>。
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in accuser.responsibles" :key="responsibleIndex">
        <p v-if="responsible.showFlag">
          原<span v-if="trial.verification.participator.accusers.length > 1">{{accuserIndex + 1}}</span><span>{{responsible.shortName}}</span><span v-if="accuser.responsibles.length > 1 && responsible.shortName">{{responsibleIndex + 1}}</span>：
          <el-select v-model="responsible.witness.detail" class="width-25" @change="witness()">
            <el-option v-for="option in options.requirement" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>。
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in accuser.agents" :key="agentIndex">
        <p v-if="agent.showFlag">
          原<b v-if="trial.verification.participator.accusers.length > 1">{{accuserIndex + 1}}</b>代<span v-if="accuser.agents.length > 1">{{agentIndex+1}}</span>：
          <el-select v-model="agent.witness.detail" class="width-25" @change="witness()">
            <el-option v-for="option in options.requirement" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>。
        </p>
      </div>
    </div>
    <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
        <p v-if="subject.showFlag">
          被<span>{{ subject.ordinal }}</span>：
          <el-select v-model="subject.witness.detail" class="width-25" @change="witness()">
            <el-option v-for="option in options.requirement" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>。
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in accused.responsibles" :key="responsibleIndex">
        <p v-if="responsible.showFlag">
          被<span v-if="trial.verification.participator.accuseds.length > 1">{{accusedIndex + 1}}</span><span>{{responsible.shortName}}</span><span v-if="accused.responsibles.length > 1 && responsible.shortName">{{responsibleIndex + 1}}</span>：
          <el-select v-model="responsible.witness.detail" class="width-25" @change="witness()">
            <el-option v-for="option in options.requirement" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>。
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in accused.agents" :key="agentIndex">
        <p v-if="agent.showFlag">
          被<b v-if="trial.verification.participator.accuseds.length > 1">{{accusedIndex + 1}}</b>代<span v-if="accused.agents.length > 1">{{agentIndex+1}}</span>：
          <el-select v-model="agent.witness.detail" class="width-25" @change="witness()">
            <el-option v-for="option in options.requirement" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>。
        </p>
      </div>
    </div>
    <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
        <p v-if="subject.showFlag">
          第<span>{{ subject.ordinal }}</span>：
          <el-select v-model="subject.witness.detail" class="width-25" @change="witness()">
            <el-option v-for="option in options.requirement" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>。
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in thirdparty.responsibles" :key="responsibleIndex">
        <p v-if="responsible.showFlag">
          第<span v-if="trial.verification.participator.thirdparties.length > 1">{{thirdpartyIndex + 1}}</span><span>{{responsible.shortName}}</span><span v-if="thirdparty.responsibles.length > 1 && responsible.shortName">{{responsibleIndex + 1}}</span>：
          <el-select v-model="responsible.witness.detail" class="width-25" @change="witness()">
            <el-option v-for="option in options.requirement" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>。
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in thirdparty.agents" :key="agentIndex">
        <p v-if="agent.showFlag">
          第<b v-if="trial.verification.participator.thirdparties.length > 1">{{thirdpartyIndex + 1}}</b>代<span v-if="thirdparty.agents.length > 1">{{agentIndex+1}}</span>：
          <el-select v-model="agent.witness.detail" class="width-25" @change="witness()">
            <el-option v-for="option in options.requirement" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>。
        </p>
      </div>
    </div>
    <!-- <p v-if="trial.verification.witness.status">审：请证人到庭外休息室等候。</p> -->
  </div>
</section>
