@import '../common/styles/color';
#layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  header {
    display: block;
    width: 100%;
    flex: auto;
    height: 60px;
    background-color: $color-black-light;
    .logo {
      float: left;
      display: inline-block;
      vertical-align: middle;
      line-height: 60px;
      width: 242px;
      margin-left: 6px;
      margin-right: 30px;
      font-size: 29px;
      font-weight: bold;
      text-align: right;
      color: $color-white;
      background: url('../assets/logo.png') no-repeat scroll 1px -4px/65px 65px;
    }
    .navigator {
      display: inline-block;
      width: auto;
      background: red;
    }
    .tool {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 12px;
      height: 36px;
      min-width: 330px;
      .el-select {
        width: 100px;
      }
      .el-input {
        max-width: 13rem;
      }
      .el-dropdown {
        margin-left: 30px;
        color: $color-gray;
      }
    }
  }
  .router {
    display: block;
    flex: 100%;
  }
}
