<div title="原告" class="verification-participator-accuser">
  <section v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex" class="animated slideInDown">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>信息核对&nbsp;-&nbsp;诉讼参与人&nbsp;-&nbsp;原告</em>
      <div class="tools">
        <el-button @click="accuserEvent('add')" type="primary" size="mini">
          <i class="fa fa-user-plus">&nbsp;添加原告</i>
        </el-button>
        <el-button @click="accuserEvent('remove', {accuserIndex})" type="danger" size="mini">
          <i class="fa fa-user-times">&nbsp;移除原告</i>
        </el-button>
      </div>
    </div>
    <div class="content">
      <!-- 原告 -->
      <div title="诉讼主体" class="subject animated slideInLeft" v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
        <p>
          <b>{{template.informationCheck.content.plaintiff}}</b>：
          <el-input v-model="subject.name" placeholder="请输入原告名称" class="width-92" @blur="nameFormat()"></el-input>，
        </p>
        <p>
          <el-input v-model="subject.info" type="textarea" :autosize="{minRows: 3}" placeholder="请输入原告信息" class="width-100"></el-input>
        </p>
        <p>
          （
          <el-select v-model="subject.isAppear" class="width-20" @change="toCourtChange(subject)">
            <el-option v-for="appear in options.appear" :key="appear" :label="appear" :value="appear">
            </el-option>
          </el-select>
          以下简称<b>原{{subject.ordinal}}</b>）
          <el-dropdown @click="subjectEvent('add', {accuserIndex})" type="info" size="mini" split-button>
            <i class="fa fa-plus-circle">&nbsp;添加</i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <i @click="subjectEvent('remove', {accuserIndex, subjectIndex})" class="fa fa-trash color-danger">&nbsp;移除</i>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </p>
        <hr />
      </div>
      <div title="法定代表人/负责人/法定代理人/指定代理人" class="responsible animated slideInDown" v-for="(responsible, responsibleIndex) in accuser.responsibles" :key="responsibleIndex">
        <p>
          <el-select v-model="responsible.role" class="width-30" @change="lagalAgentChange(responsible)">
            <el-option v-for="option in options.responsible" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>，
          <el-input v-model="responsible.name" placeholder="请输入法定代表人/负责人/法定代理人/指定代理人名称" class="width-65" @blur="nameFormat()"></el-input>，
        </p>
        <p>
          <el-input v-model="responsible.info" type="textarea" :autosize="{minRows: 3}" placeholder="请输入法定代表人/负责人/法定代理人/指定代理人信息" class="width-100"></el-input>
        </p>
        <p>
          （
          <el-select v-model="responsible.isAppear" class="width-20" @change="toCourtChange(responsible)">
            <el-option v-for="option in options.appear" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>
          以下简称原<span v-for="(number,index) in trial.verification.participator.accusers[accuserIndex].serialNumbers">
            <span>{{number.num}}</span>
            <i v-if="trial.verification.participator.accusers[accuserIndex].serialNumbers.length > 1 && index + 1 < trial.verification.participator.accusers[accuserIndex].serialNumbers.length">、</i>
          </span>
          <b>{{responsible.shortName}}</b><b v-if="accuser.responsibles.length > 1 && responsible.shortName">{{responsibleIndex + 1}}</b>
          <el-dropdown @click="responsibleEvent('add', {accuserIndex, responsibleIndex},responsible.role)" type="info" size="mini" split-button>
            <i class="fa fa-plus-circle">&nbsp;添加</i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <i @click="responsibleEvent('remove', {accuserIndex, responsibleIndex})" class="fa fa-trash color-danger">&nbsp;移除</i>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </p>
        <hr />
      </div>
      <div title="委托诉讼代理人" class="agent animated slideInDown" v-for="(agent, agentIndex) in accuser.agents" :key="agentIndex">
        <p>
          {{template.informationCheck.content.client}}：
          <el-input v-model="agent.name" placeholder="请输入委托诉讼代理人名称" class="width-83" @blur="nameFormat()"></el-input>，
        </p>
        <p>
          <el-input v-model="agent.info" type="textarea" :autosize="{minRows: 3}" placeholder="请输入委托诉讼代理人信息" class="width-100"></el-input>
        </p>
        <p>
          （
          <el-select v-model="agent.isAppear" class="width-20" @change="toCourtChange(agent)">
            <el-option v-for="option in options.appear" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>
          ，
          <el-select v-model="agent.auth" class="width-25">
            <el-option v-for="auth in options.auth" :key="auth" :label="auth" :value="auth">
            </el-option>
          </el-select>
          以下简称原<span v-for="(number,index) in trial.verification.participator.accusers[accuserIndex].serialNumbers">
            <span>{{number.num}}</span>
            <i v-if="trial.verification.participator.accusers[accuserIndex].serialNumbers.length > 1 && index + 1 < trial.verification.participator.accusers[accuserIndex].serialNumbers.length">、</i>
          </span>代<b v-if="accuser.agents.length > 1">{{agentIndex + 1}}</b>
          <el-dropdown @click="agentEvent('add', {accuserIndex})" type="info" size="mini" split-button>
            <i class="fa fa-plus-circle">&nbsp;添加</i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <i @click="agentEvent('remove', {accuserIndex, agentIndex})" class="fa fa-trash color-danger">&nbsp;移除</i>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </p>
        <hr />
      </div>
    </div>
  </section>
</div>
