@import '../../common/styles/color';
#trial-article {
  div.toolbar {
    flex: 0 0 44px;
    background: $color-white-dark;
    border-bottom: 1px solid $color-gray;
    line-height: 44px;
    .left {
      display: inline-block;
      position: relative;
      left: 20px;
      button {
        position: relative;
        top: -1px;
      }
    }
    .right {
      float: right;
      display: inline-block;
      position: relative;
      right: 10px;
      bottom: 1px;
    }
  }
  div.document {
    flex: 100%;
    overflow-y: auto;
    font-size: 14px;
    color: $color-black;
    .header {
      h1,
      h2 {
        display: inline;
        font-weight: normal;
      }
      h1 {
        font-size: 25px;
      }
      h2 {
        font-size: 22px;
      }
    }
  }
}
