div.toolbar {
  flex: 0 0 44px;
  background: $color-white-dark;
  border-bottom: 1px solid $color-gray;
  line-height: 44px;
  .left {
    display: inline-block;
    position: relative;
    left: 20px;
    button {
      position: relative;
      top: -1px;
    }
  }
  .right {
    float: right;
    display: inline-block;
    position: relative;
    right: 10px;
    bottom: 1px;
  }
}

div.content {
  flex: 100%;
  overflow-y: auto;
  padding: 15px 45px;
  font-size: 14px;
  color: $color-black;
}
