<div title="法庭调查" class="investigate">
  <section title="法庭调查-诉辩意见" class="opinion">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>法庭调查-诉辩意见</em>
    </div>
    <div class="content">
      <p>审：现在进行法庭调查。首先由原告简要陈述诉讼请求、事实和理由。</p>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-input v-model="subject.opinion.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告诉辩意见" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <p>审：现在由被告简要宣读答辩状或针对原告的诉讼请求及理由进行答辩。</p>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-input v-model="subject.opinion.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入被告诉辩意见" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <p>审：现在由第三人陈述意见。</p>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-input v-model="subject.opinion.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入第三人诉辩意见" class="width-100"></el-input>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section title="法庭调查-无争议归纳" class="undisputed">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>法庭调查-无争议归纳</em>
    </div>
    <div class="content">
      <p>审：根据各方陈述意见，归纳无争议及争议事实如下：无争议事实：</p>
      <el-input v-model="trial.investigate.conclude.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入无争议事实内容" class="width-100"></el-input>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-select v-model="subject.undisputed.isObjection" class="width-25">
              <el-option v-for="option in options.objections" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.undisputed.isSupply" class="width-20">
              <el-option v-for="option in options.supplys" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
        </div>
      </div>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-select v-model="subject.undisputed.isObjection" class="width-25">
              <el-option v-for="option in options.objections" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.undisputed.isSupply" class="width-20">
              <el-option v-for="option in options.supplys" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
        </div>
      </div>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-select v-model="subject.undisputed.isObjection" class="width-25">
              <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.undisputed.isSupply" class="width-20">
              <el-option v-for="option in options.supply" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
        </div>
      </div>
    </div>
  </section>
  <section title="法庭调查-争议归纳" class="disputed">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>法庭调查-有争议归纳</em>
    </div>
    <div class="content">
      <p>审：争议事实：</p>
      <el-input v-model="trial.investigate.conclude.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入无争议事实内容" class="width-100"></el-input>
      <p>对于本院归纳内容是否有异议或补充？</p>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-select v-model="subject.disputed.isObjection" class="width-25">
              <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.disputed.isSupply" class="width-20">
              <el-option v-for="option in options.supply" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
        </div>
      </div>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-select v-model="subject.disputed.isObjection" class="width-25">
              <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.disputed.isSupply" class="width-20">
              <el-option v-for="option in options.supply" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
        </div>
      </div>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-select v-model="subject.disputed.isObjection" class="width-25">
              <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.disputed.isSupply" class="width-20">
              <el-option v-for="option in options.supply" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
        </div>
      </div>
    </div>
  </section>
  <section title="法庭调查-法庭询问" class="inquiry">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>法庭调查-法庭询问</em>
    </div>
    <div class="content">
      <p>审：现在法庭做如下询问</p>
      <h1>全案要素表选择</h1>
    </div>
  </section>
  <section title="法庭调查-举证质证" class="proof">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>法庭调查-举证质证</em>
    </div>
    <div class="content">
      <p>审：现在开始举证，先由原告方举证。</p>
    </div>
  </section>
  <section title="法庭调查-争议事实认定" class="fact">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>法庭调查-争议事实认定</em>
    </div>
    <div class="content">
      <p>审：现在开始举证，先由原告方举证。</p>
    </div>
  </section>
</div>
