<section title="庭审信息" class="infomation">
  <div class="access">
    <i class="el-icon-edit-outline"></i>
    <em>庭审信息</em>
  </div>
  <div class="content">
      <p title="案号">
          案号：
          <el-input v-model="trial.infomation.code" placeholder="请输入案号" class="width-91" :disabled="true"></el-input>
        </p>
        <p title="案由">
          案由：
          <el-input v-model="trial.infomation.reason" placeholder="请输入案由" class="width-91" :disabled="true"></el-input>
        </p>
    <p title="时间">
      开庭时间：
      <el-date-picker v-model="trial.infomation.date" type="date" placeholder="选择日期" class="width-33"></el-date-picker>
      &nbsp;
      <el-time-select v-model="trial.infomation.time.start"  placeholder="选择开始时间" :picker-options="{selectableRange:'08:30:00-18:00:00',step: '00:05'}" class="width-25"></el-time-select>
      至
      <el-time-select v-model="trial.infomation.time.end"  placeholder="选择结束时间" value-format="HH时mm分" format="HH时mm分" :picker-options="{selectableRange:'08:30:00-18:00:00',step: '00:05',minTime:trial.infomation.time.start}" class="width-25"></el-time-select>
    </p>
    <p title="地点">
      开庭地点：
      <el-input v-model="trial.infomation.location.name" placeholder="请输入法院名称" class="width-33"></el-input>
      第
      <el-input-number v-model="trial.infomation.location.number" :min="1" :max="999" controls-position="right" class="width-19"></el-input-number>
      号法庭第
      <el-input-number v-model="trial.infomation.location.times" :min="1" :max="999" controls-position="right" class="width-19"></el-input-number>
      次开庭
    </p>
   
    <p title="是否公开审理、旁听人数">
      是否公开审理：
      <el-select v-model="trial.infomation.isPublic" class="width-25" @change="isPublic()">
        <el-option v-for="option in options.public" :key="option" :label="option" :value="option">
        </el-option>
      </el-select>
      &nbsp;&nbsp;&nbsp; 旁听人数：
      <el-input-number :disabled="trial.infomation.isPublic == '不公开'" v-model="trial.infomation.audience" :min="0" controls-position="right" class="width-20"></el-input-number>
    </p>
    <p title="审判人员1">
      <el-select v-model="trial.infomation.officer[0].duty" placeholder="请选择职务" class="width-30">
        <el-option v-show="!(option=='审判长'&& trial.infomation.officer.length == 1)" v-for="option in options.duty.primary" :key="option" :label="option" :value="option" :disabled="(option!='审判长')&& (trial.preface.organize.program =='normal')">
        </el-option>
      </el-select>
      ：
      <el-input v-model="trial.infomation.officer[0].name" :maxlength="5" @blur="setOficerFormat(0)" placeholder="请输入姓名" class="width-64"></el-input>
    </p>
    <p title="审判人员2" v-if="isChiefOfficerTwo">
      <el-select v-model="trial.infomation.officer[1].duty" placeholder="请选择职务" class="width-30">
        <el-option v-for="option in options.duty.normal" :key="option" :label="option" :value="option">
        </el-option>
      </el-select>
      ：
      <el-input v-model="trial.infomation.officer[1].name" :maxlength="50" @blur="setOficerFormat(1)" placeholder="请输入姓名" class="width-64"></el-input>
    </p>
    <p title="审判人员3" v-if="isChiefOfficerTwo">
      <el-select v-model="trial.infomation.officer[2].duty" placeholder="请选择职务" class="width-30">
        <el-option v-for="option in options.duty.normal" :key="option" :label="option" :value="option">
        </el-option>
      </el-select>
      ：
      <el-input v-model="trial.infomation.officer[2].name" :maxlength="50" @blur="setOficerFormat(2)" placeholder="请输入姓名" class="width-64"></el-input>
    </p>
    <p title="书记员">
      书记员：
      <el-input v-model="trial.infomation.clerk" :maxlength="50" @blur="setClerkFormat()" placeholder="请输入姓名" class="width-61"></el-input>
    </p>
  </div>
</section>
