@import 'color';
// global
.fill {
  width: 100%;
  height: 100%;
}

.clean {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

.margin-clean {
  margin: 0;
}

.padding-clean {
  padding: 0;
}

.outline-clean {
  outline: none;
}

.border-clean {
  border: none;
}

// font-weight
.font-bold {
  font-weight: bold;
}

// float
.clear-both {
  clear: both;
}

.float-left {
  float: right;
}

.float-right {
  float: left;
}

// display
.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.display-none {
  display: none;
}

// text-align
.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-left {
  text-align: left;
}

// vertical-align
.vertical-align-middle {
  vertical-align: middle;
}

// overflow
.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

// font-size
.font-size-larger {
  font-size: 20px;
}

.font-size-large {
  font-size: 18px;
}

.font-size-medium {
  font-size: 16px;
}

.font-size-small {
  font-size: 14px;
}

.font-size-smaller {
  font-size: 13px;
}

.font-size-tiny {
  font-size: 12px;
}

// color
.color-blue {
  color: $color-blue;
}

.color-blue-light {
  color: $color-blue-light;
}

.color-blue-dark {
  color: $color-blue-dark;
}

.color-pink {
  color: $color-pink;
}

.color-cyan {
  color: $color-cyan;
}

.color-black {
  color: $color-black;
}

.color-black-light {
  color: $color-black-light;
}

.color-black-light-extra {
  color: $color-black-light-extra;
}

.color-silver {
  color: $color-silver;
}

.color-silver-light {
  color: $color-silver-light;
}

.color-silver-light-extra {
  color: $color-silver-light-extra;
}

.color-gray {
  color: $color-gray;
}

.color-gray-light {
  color: $color-gray-light;
}

.color-gray-light-extra {
  color: $color-gray-light-extra;
}

.color-white {
  color: $color-white;
}

.color-white-dark {
  color: $color-white-dark;
}

.color-red {
  color: $color-red;
}

.color-primary {
  color: $color-primary;
}

.color-success {
  color: $color-success;
}

.color-warning {
  color: $color-warning;
}

.color-danger {
  color: $color-danger;
}
