@import './base';
@import './color';
.reset {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}

html {
  @extend .reset;
  body {
    @extend .reset;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    background: $color-white-dark;
    #app {
      @extend .reset;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}
 ::-webkit-scrollbar-thumb {
  background: rgba(210, 214, 222, 0.6);
  border-radius: 5px;
}


// patch for right tools of trial
// #trial {
//   .el-collapse {
//     border-left: none !important;
//     .el-collapse-item__content {
//       padding: 0 !important;
//     }
//     .el-table {
//       border: none !important;
//       padding: 0 !important;
//     }
//   }
// }

#cases {
  .el-form-item {
    margin-bottom: 10px;
    .el-form-item__label {
      padding: 0;
    }
  }
}

// patch for icon-arrow's position in menu
.el-submenu__icon-arrow {
  position: static !important;
  margin: 5px 0 5px 15px !important;
}
