@import './base';
@import './color';
.reset {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}

html {
  @extend .reset;
  body {
    @extend .reset;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    background: $color-white-dark;
    #app {
      @extend .reset;
    }
  }
}

// patch for right tools of trial
#trial {
  .el-collapse {
    border-left: none !important;
    .el-collapse-item__content {
      padding: 0 !important;
    }
    .el-table {
      border: none !important;
      padding: 0 !important;
    }
  }
}

// patch for icon-arrow's position in menu
.el-submenu__icon-arrow {
  position: static !important;
  margin: 5px 0 5px 15px !important;
}
