@import './base';
@import './color';
.reset {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
}

html {
  @extend .reset;
  body {
    @extend .reset;
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    background: $color-white-dark;
    #app {
      @extend .reset;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: $color-silver;
  border-radius: 5px;
}

.fade-enter-active {
  transition: opacity .6s
}

.fade-enter {
  opacity: 0
}

// Patch for right tools of trial
#trial {
  .el-collapse {
    .el-collapse-item__header {
      padding-left: 16px;
    }
    .el-collapse-item__content {
      padding: 0;
    }
    .el-collapse-item__wrap {
      border: none;
    }
  }
  .el-table {
    border: none;
    .cell {
      padding-left: 16px;
    }
  }
}

// Patch for icon-arrow's position in menu
.el-submenu__icon-arrow {
  position: static !important;
  margin: 5px 0 5px 15px !important;
}

// Patch for context menu
.context-menu {
  .menu {
    * {
      font-size: 14px;
      text-decoration: none;
      color: $color-black-light;
    }
    .menuitem {
      padding: 10px 10px 10px 0 !important;
    }
  }
}

// Cases
#cases {
  aside.search {
    .el-form-item {
      margin-bottom: 10px;
      .el-form-item__label {
        padding: 0;
      }
    }
  }
}
