<section title="庭审序言-庭审组织" class="organize">
  <div class="access">
    <i class="el-icon-edit-outline"></i>
    <em>庭审序言-庭审组织</em>
    <div class="tools">
      <el-dropdown>
        <el-button type="primary" size="small">
          操作<i class="el-icon-arrow-down el-icon--right"></i>
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>
            <i @click="changeJudge()" class='fa fa-user'>&nbsp;更换审判人员</i>
          </el-dropdown-item>
          <el-dropdown-item>
            <i @click="setAdjourn('preface-organize')" class="fa fa-gavel">&nbsp;休庭</i>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
  <div class="content">
    <!-- 普通程序 -->
    <p v-if="!(this.trial.preface.organize.program === 'simple')">
      审：本院受理
      <span>{{ trial.infomation.code }}</span>
      <span v-for="data in trial.verification.participator.accusers">
        <span v-for="item in data.subjects">
          <span>{{ item.name }}</span>
        </span>
      </span>
      与
      <span v-for="data in trial.verification.participator.accuseds">
        <span v-for="item in data.subjects">
          <span>{{ item.name }}</span>
        </span>
      </span>
      <span>{{trial.infomation.reason}}</span>
      一案后，根据《中华人民共和国民事诉讼法》第一百三十四条之规定，依法适用 普通程序第
      <span>{{ trial.infomation.location.times | numberFormat }}</span>次{{ trial.infomation.isPublic }}开庭进行审理。
      <el-input style="margin: 5px 0" v-model="trial.preface.organize.detail" v-if="trial.preface.organize.status == 'show'" type="textarea" :autosize="{minRows: 4}" placeholder="请输入审判人员信息" class="width-100"></el-input>
      本案由
      <span>{{ trial.infomation.officer[0].duty }}</span><span>{{ trial.infomation.officer[0].name | trim}}</span>、
      <span>{{ trial.infomation.officer[1].duty }}</span><span>{{ trial.infomation.officer[1].name | trim}}</span>、
      <span>{{ trial.infomation.officer[2].duty }}</span><span>{{ trial.infomation.officer[2].name | trim}}</span>依法组成合议庭，由审判员
      <span>{{ trial.infomation.officer[0].name | trim}}</span>担任审判长，由书记员
      <span>{{ trial.infomation.clerk | trim}}</span>担任记录。
    </p>
    <!-- 简易程序 -->
    <p v-if="this.trial.preface.organize.program === 'simple'">
      审：本院受理
      <span>{{ trial.infomation.code }}</span>
      <span v-for="data in trial.verification.participator.accusers">
        <span v-for="item in data.subjects">
          <span>{{ item.name }}</span>
        </span>
      </span>
      与
      <span v-for="data in trial.verification.participator.accuseds">
        <span v-for="item in data.subjects">
          <span>{{ item.name }}</span>
        </span>
      </span>
      <span>{{trial.infomation.reason}}</span>
      一案后，根据《中华人民共和国民事诉讼法》第三十九条、第四十一条之规定，依法适用简易程序第
      <span>{{ trial.infomation.location.times | numberFormat }}</span>次{{ trial.infomation.isPublic }}开庭进行审理。
      <el-input style="margin: 5px 0" v-model="trial.preface.organize.detail" v-if="trial.preface.organize.status == 'show'" type="textarea" :autosize="{minRows: 4}" placeholder="请输入审判人员信息" class="width-100"></el-input>
      本案由审判员<span>{{ trial.infomation.officer[0].name | trim}}</span>独任审理，由书记员<span>{{ trial.infomation.clerk | trim}}</span>担任记录。
    </p>
  </div>
</section>
