<div title="被告" class="accused">
  <section v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex" class="animated slideInDown">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>信息核对&nbsp;-&nbsp;诉讼参与人&nbsp;-&nbsp;被告</em>
      <div class="tools">
        <el-dropdown @click="accusedEvent('add')" type="primary" size="small" split-button>
          <i class="fa fa-user-plus">&nbsp;添加被告</i>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>
              <i @click="accusedEvent('remove', {accusedIndex})" class="fa fa-user-times color-danger">&nbsp;移除当前被告</i>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </div>
    <div class="content">
      <!-- 被告 -->
      <div title="诉讼主体" class="subject animated slideInLeft" v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
        <p>
          <b>被告</b>：
          <el-input v-model="subject.name" placeholder="请输入被告名称" class="width-92"></el-input>，
        </p>
        <p>
          <el-input v-model="subject.info" type="textarea" :autosize="{minRows: 3}" placeholder="请输入被告信息" class="width-100"></el-input>
        </p>
        <p>
          （
          <el-select v-model="subject.isAppear" class="width-20" @change="toCourtChange(subject)">
            <el-option v-for="appear in options.appear" :key="appear" :label="appear" :value="appear">
            </el-option>
          </el-select>
          以下简称<b>被{{subject.ordinal}}</b>）
          <el-dropdown @click="subjectEvent('add', {accusedIndex})" type="info" size="mini" split-button>
            <i class="fa fa-plus-circle">&nbsp;添加</i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <i @click="subjectEvent('remove', {accusedIndex, subjectIndex})" class="fa fa-trash color-danger">&nbsp;移除</i>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </p>
        <hr />
      </div>
      <div title="法定代表人/负责人/法定代理人/指定代理人" class="responsible animated slideInDown" v-for="(responsible, responsibleIndex) in accused.responsibles" :key="responsibleIndex">
        <p>
          <el-select v-model="responsible.role" class="width-30">
            <el-option v-for="option in options.responsible" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>，
          <el-input v-model="responsible.name" placeholder="请输入法定代表人/负责人/法定代理人/指定代理人名称" class="width-65"></el-input>，
        </p>
        <p>
          <el-input v-model="responsible.info" type="textarea" :autosize="{minRows: 3}" placeholder="请输入法定代表人/负责人/法定代理人/指定代理人信息" class="width-100"></el-input>
        </p>
        <p>
          （
          <el-select v-model="responsible.isAppear" class="width-20" @change="toCourtChange(responsible)">
            <el-option v-for="option in options.appear" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>
          以下简称<b>被{{responsibleIndex + 1}}</b>）
          <el-button @click="responsibleEvent('remove', {accusedIndex, responsibleIndex})" size="mini" type="info">
            <i class="fa fa-trash">&nbsp;&nbsp;移除</i>
          </el-button>
        </p>
        <hr />
      </div>
      <div title="委托诉讼代理人" class="agent animated slideInDown" v-for="(agent, agentIndex) in accused.agents" :key="agentIndex">
        <p>
          委托诉讼代理人：
          <el-input v-model="agent.name" placeholder="请输入委托诉讼代理人名称" class="width-83"></el-input>，
        </p>
        <p>
          <el-input v-model="agent.info" type="textarea" :autosize="{minRows: 3}" placeholder="请输入委托诉讼代理人信息" class="width-100"></el-input>
        </p>
        <p>
          （
          <el-select v-model="agent.isAppear" class="width-20" @change="toCourtChange(agent)">
            <el-option v-for="option in options.appear" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>
          ，
          <el-select v-model="agent.auth" class="width-25">
            <el-option v-for="auth in options.auth" :key="auth" :label="auth" :value="auth">
            </el-option>
          </el-select>
          以下简称<b>被代{{agentIndex + 1}}</b>
          <el-dropdown @click="agentEvent('add', {accusedIndex})" type="info" size="mini" split-button>
            <i class="fa fa-plus-circle">&nbsp;添加</i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item>
                <i @click="agentEvent('remove', {accusedIndex, agentIndex})" class="fa fa-trash color-danger">&nbsp;移除</i>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </p>
        <hr />
      </div>
    </div>
  </section>
</div>
