@import '../../common/styles/color';
#trial-navbar {
  background: $color-gray-light;
  header {
    border-bottom: 1px solid $color-gray;
    cursor: pointer;
    button {
      text-indent: 12px;
      height: 44px;
      color: $color-black-light-extra;
    }
  }
}
