<section title="原告方辩论意见" class="argument-accuser">
  <div class="access">
    <i class="el-icon-edit-outline"></i>
    <em>法庭辩论-原告方辩论意见</em>
    <div class="tools">
      <el-dropdown>
        <el-button type="primary" size="small">
          操作<i class="el-icon-arrow-down el-icon--right"></i>
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>
            <i @click="setAdjourn('argument-accuser')" class="fa fa-gavel">&nbsp;休庭</i>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
  <div class="content">
    <p>审：法庭调查结束，现在进行法庭辩论。为保证法庭辩论正常有序的进行，本庭提醒各方当事人，辩论应当实事求是、以理服人，在辩论中，各方当事人要围绕本案争议的焦点，对本案的事实认定、责任、法律适用等发表辩论意见，不得引用与本案无关或者未经法庭核对的事实、证据，不得重复，严禁使用不文明语言。首先由原告发表辩论意见。</p>
    <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
        <p v-if="subject.showFlag">
          原{{subject.ordinal}}：
          <el-input v-model="subject.argument[0].detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告辩论意见" class="width-100"></el-input>
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in accuser.responsibles" :key="responsibleIndex">
        <p v-if="responsible.showFlag">
          原：
          <el-input v-model="responsible.argument[0].detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告辩论意见" class="width-100"></el-input>
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in accuser.agents" :key="agentIndex">
        <p v-if="agent.showFlag">
          原<b v-if="trial.verification.participator.accusers.length > 1">{{accuserIndex + 1}}</b>代<span v-if="accuser.agents.length > 1">{{agentIndex+1}}</span>：
          <el-input v-model="agent.argument[0].detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告辩论意见" class="width-100"></el-input>
        </p>
      </div>
    </div>
  </div>
</section>
