@import '../../../common/styles/color';
#trial-editor-blank {
  @import '../style.toolbar';
  display: flex;
  flex-direction: column;
  height: 100%;
  .content {
    >article {
      height: 97%;
      margin-top: 10px; // border: 1px solid $color-gray-light;
      padding: 20px 50px;
      box-sizing: border-box;
      p {
        line-height: 30px;
      }
      em {
        color: $color-blue;
        font-style: normal;
        cursor: pointer;
      }
    }
  }
}
