@import '../../../../common/styles/color';
#trial-article-produce-editor {
  header {
    text-align: center;
    padding: 19px 0 18px 0;
    background: $color-white;
    border-bottom: 1px solid $color-border-light;
    h1,
    h2 {
      display: inline;
      font-weight: normal;
    }
    h1 {
      font-size: 25px;
    }
    h2 {
      font-size: 22px;
    }
  }
  section,
  footer {
    background: $color-white;
    border-bottom: 1px solid $color-border-light;
    .access {
      background: $color-white-dark;
      height: 50px;
      line-height: 50px;
      border-bottom: 1px solid $color-border-light;
      border-right: 1px solid $color-border-light;
      padding: 0 50px;
      em {
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
      }
      .tools {
        float: right;
        margin-top: 11px;
      }
    }
    .content {
      padding: 15px 50px 15px 50px;
    }
  }
  p {
    padding: 0;
    font-size: 14px !important;
  }
}
