<article id="trial-editor" v-hoverToggle>
  <!-- 笔录标题 -->
  <header>
    <h1 title="法院名称" id="name">{{trial.name}}</h1>
    <h2 title="笔录标题" id="title">{{trial.title}}</h2>
  </header>
  <!-- 庭审信息 -->
  <section title="庭审信息" id="infomation">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>庭审信息</em>
    </div>
    <div class="content">
      <p title="时间">
        时间：
        <el-date-picker v-model="trial.infomation.date" type="date" placeholder="选择日期" value-format="yyyy年MM月dd日" format="yyyy年MM月dd日" class="width-37"></el-date-picker>
        &nbsp;
        <el-time-picker v-model="trial.infomation.time.start" placeholder="选择开始时间" value-format="HH时mm分" format="HH时mm分" :picker-options="{selectableRange:'08:30:00-18:00:00'}" class="width-25"></el-time-picker>
        至
        <el-time-picker v-model="trial.infomation.time.end" placeholder="选择结束时间" value-format="HH时mm分" format="HH时mm分" :picker-options="{selectableRange:'08:30:00-18:00:00'}" class="width-25"></el-time-picker>
      </p>
      <p title="地点">
        地点：
        <el-input v-model="trial.infomation.location.name" placeholder="请输入法院名称" class="width-37"></el-input>
        第
        <el-input-number v-model="trial.infomation.location.number" :min="1" :max="999" controls-position="right" class="width-19"></el-input-number>
        号法庭第
        <el-input-number v-model="trial.infomation.location.times" :min="1" :max="999" controls-position="right" class="width-19"></el-input-number>
        次开庭
      </p>
      <p title="案号">
        案号：
        <el-input v-model="trial.infomation.code" placeholder="请输入案号" class="width-91"></el-input>
      </p>
      <p title="案由">
        案由：
        <el-input v-model="trial.infomation.reason" placeholder="请输入案由" class="width-91"></el-input>
      </p>
      <p title="是否公开审理、旁听人数">
        是否公开审理：
        <el-select v-model="trial.infomation.isPublic" class="width-25">
          <el-option v-for="option in options.publics" :key="option" :label="option" :value="option">
          </el-option>
        </el-select>
        &nbsp;&nbsp;&nbsp; 旁听人数：
        <el-input-number v-model="trial.infomation.audience" :min="1" controls-position="right" class="width-20"></el-input-number>
      </p>
      <p title="审判人员1">
        <el-select v-model="trial.infomation.officer[0].duty" placeholder="请选择职务" class="width-30">
          <el-option v-for="option in options.primaryDuties" :key="option" :label="option" :value="option">
          </el-option>
        </el-select>
        ：
        <el-input v-model="trial.infomation.officer[0].name" placeholder="请输入姓名" class="width-64"></el-input>
      </p>
      <p title="审判人员2" v-if="isChiefOfficer">
        <el-select v-model="trial.infomation.officer[1].duty" placeholder="请选择职务" class="width-30">
          <el-option v-for="option in options.normalDuties" :key="option" :label="option" :value="option">
          </el-option>
        </el-select>
        ：
        <el-input v-model="trial.infomation.officer[1].name" placeholder="请输入姓名" class="width-64"></el-input>
      </p>
      <p title="审判人员3" v-if="isChiefOfficer">
        <el-select v-model="trial.infomation.officer[2].duty" placeholder="请选择职务" class="width-30">
          <el-option v-for="option in options.normalDuties" :key="option" :label="option" :value="option">
          </el-option>
        </el-select>
        ：
        <el-input v-model="trial.infomation.officer[2].name" placeholder="请输入姓名" class="width-64"></el-input>
      </p>
      <p title="书记员">
        书记员：
        <el-input v-model="trial.infomation.clerk" placeholder="请输入姓名" class="width-61"></el-input>
      </p>
    </div>
  </section>
  <!-- 法庭纪律 -->
  <section title="法庭纪律" id="discipline">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>法庭纪律</em>
    </div>
    <div class="content">
      <p>书记员：当事人及其诉讼代理人入庭（核对当事人及代理人情况）。为了维护法庭秩序，保障审判活动正常进行，根据《中华人民共和国民事诉讼法》第一百三十七条第一款和《中华人民共和国人民法院法庭规则》之规定，现在宣布法庭纪律：</p>
      <p>1.开庭审理期间，当事人及其他诉讼参与人和旁听群众均应服从审判员指挥；</p>
      <p>2.当事人及其他诉讼参与人在开庭审判期间的发言、陈述和辩论，须经审判员许可；</p>
      <p>3.旁听群众不准进入审判区，不准发言、提问，未经许可不准录音、录像和摄影，不准鼓掌、喧哗、吵闹和有其他妨碍审判活动的行为；</p>
      <p>4.不准吸烟和随地吐痰，不得在法庭上使用移动电话；</p>
      <p>5.旁听群众对法庭的审判活动如有意见，可以在闭庭后书面向本院提出，对于违反法庭纪律而又不听劝告和制止的人，审判员有权根据不同情节作出没收胶卷、录音带、录像带、笔记本或责令退出法庭等处理，情节严重的并可追究刑事责任；</p>
      <p>6.对哄闹、冲击法庭，侮辱、诽谤、威胁、殴打审判人员等严重扰乱法庭秩序的人，依法追究刑事责任；情节较轻的，予以罚款、拘留。</p>
      <p>
        全体起立，请
        <b>{{trial.infomation.officer[0].duty}}</b>
        <b v-if="isChiefOfficer">、{{trial.infomation.officer[1].duty}}</b>
        <b v-if="isChiefOfficer">、{{trial.infomation.officer[2].duty}}</b> 入庭。
      </p>
      <p>报告<b>{{trial.infomation.officer[0].duty}}</b>本案诉讼当事人和其他诉讼参与人已经到齐，法庭准备就绪，请审判长核对并开庭。
      </p>
    </div>
  </section>
  <!-- 信息核对 -->
  <section title="诉讼参与人" id="participator">
    <section title="原告" class="accuser animated slideInDown" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
      <div class="access">
        <i class="el-icon-edit-outline"></i>
        <em>信息核对&nbsp;-&nbsp;诉讼参与人&nbsp;-&nbsp;原告</em>
        <div class="tools">
          <el-dropdown @click="accuserHandler('accuser', 'add')" type="primary" size="small" split-button>
            <i class="fa fa-user-plus">&nbsp;添加</i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item></el-dropdown-item>
              <el-dropdown-item>
                <i @click="accuserHandler('accuser', 'remove', {accuserIndex})" class="fa fa-user-times color-danger">&nbsp;移除</i>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
      <div class="content">
        <!-- 原告 -->
        <div title="诉讼主体" class="subject animated slideInLeft" v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            <b>原告</b>：
            <el-input v-model="subject.name" placeholder="请输入原告名称" class="width-92"></el-input>，
          </p>
          <p>
            <el-input v-model="subject.info" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告信息" class="width-100"></el-input>
          </p>
          <p>
            （
            <el-select v-model="subject.isAppear" class="width-20">
              <el-option v-for="appear in options.appears" :key="appear" :label="appear" :value="appear">
              </el-option>
            </el-select>
            以下简称<b>原{{subject.ordinal}}</b>）
            <el-dropdown @click="accuserHandler('subject', 'add', {accuserIndex})" type="primary" size="mini" split-button>
              <i class="fa fa-plus">&nbsp;添加</i>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item></el-dropdown-item>
                <el-dropdown-item>
                  <i @click="accuserHandler('subject', 'remove', {accuserIndex, subjectIndex})" class="fa fa-times color-danger">&nbsp;移除</i>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </p>
          <hr />
        </div>
        <div title="法定代表人/负责人/法定代理人/指定代理人" class="responsible" v-for="(responsible, responsibleIndex) in accuser.responsibles" :key="responsibleIndex">
          <p>
            <el-select v-model="responsible.role" class="width-30">
              <el-option v-for="option in options.responsibles" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-input v-model="responsible.name" placeholder="请输入法定代表人/负责人/法定代理人/指定代理人名称" class="width-65"></el-input>，
          </p>
          <p>
            <el-input v-model="responsible.info" type="textarea" :autosize="{minRows: 4}" placeholder="请输入法定代表人/负责人/法定代理人/指定代理人信息" class="width-100"></el-input>
          </p>
          <p>
            （
            <el-select v-model="responsible.isAppear" class="width-20">
              <el-option v-for="option in options.appears" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>
            以下简称<b>原{{responsibleIndex+1}}</b>）
            <el-dropdown>
              <el-button type="primary" size="mini">
                <i class="fa fa-trash">&nbsp;移除</i>
                <i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item>
                  <i @click="accuserHandler('responsible', 'remove', {accuserIndex, responsibleIndex})" class="fa fa-times color-danger">&nbsp;移除</i>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </p>
          <hr />
        </div>
        <div title="委托诉讼代理人" class="agent" v-for="(agent, agentIndex) in accuser.agents" :key="agentIndex">
          <p>
            委托诉讼代理人：
            <el-input v-model="agent.name" placeholder="请输入委托诉讼代理人名称" class="width-83"></el-input>，
          </p>
          <p>
            <el-input v-model="agent.info" type="textarea" :autosize="{minRows: 4}" placeholder="请输入委托诉讼代理人信息" class="width-100"></el-input>
          </p>
          <p>
            （
            <el-select v-model="agent.isAppear" class="width-20">
              <el-option v-for="option in options.appears" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>
            ，
            <el-select v-model="agent.auth" class="width-25">
              <el-option v-for="auth in options.auths" :key="auth" :label="auth" :value="auth">
              </el-option>
            </el-select>
            以下简称<b>原代{{agentIndex + 1}}</b>
            <el-dropdown @click="accuserHandler('agent', 'add', {accuserIndex})" type="primary" size="mini" split-button>
              <i class="fa fa-plus">&nbsp;添加</i>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item></el-dropdown-item>
                <el-dropdown-item>
                  <i @click="accuserHandler('agent', 'remove', {accuserIndex, agentIndex})" class="fa fa-times color-danger">&nbsp;移除</i>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </p>
          <hr />
        </div>
      </div>
    </section>
    <!-- 被告 -->
    <section title="被告" class="accused animated slideInDown" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
      <div class="access">
        <i class="el-icon-edit-outline"></i>
        <em>信息核对&nbsp;-&nbsp;诉讼参与人&nbsp;-&nbsp;被告</em>
        <div class="tools">
          <el-dropdown @click="accusedHandler('accused', 'add')" type="primary" size="small" split-button>
            <i class="fa fa-user-plus">&nbsp;添加</i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item></el-dropdown-item>
              <el-dropdown-item>
                <i @click="accusedHandler('accused', 'remove', {accusedIndex})" class="fa fa-user-times color-danger">&nbsp;移除</i>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
      <div class="content">
        <!-- 被告 -->
        <div title="诉讼主体" class="subject animated slideInLeft" v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            <b>被告</b>：
            <el-input v-model="subject.name" placeholder="请输入被告名称" class="width-92"></el-input>，
          </p>
          <p>
            <el-input v-model="subject.info" type="textarea" :autosize="{minRows: 4}" placeholder="请输入被告信息" class="width-100"></el-input>
          </p>
          <p>
            （
            <el-select v-model="subject.isAppear" class="width-20">
              <el-option v-for="appear in options.appears" :key="appear" :label="appear" :value="appear">
              </el-option>
            </el-select>
            以下简称<b>被{{subject.ordinal}}</b>）
            <el-dropdown @click="accusedHandler('subject', 'add', {accusedIndex})" type="primary" size="mini" split-button>
              <i class="fa fa-plus">&nbsp;添加</i>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item></el-dropdown-item>
                <el-dropdown-item>
                  <i @click="accusedHandler('subject', 'remove', {accusedIndex, subjectIndex})" class="fa fa-times color-danger">&nbsp;移除</i>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </p>
          <hr />
        </div>
        <div title="法定代表人/负责人/法定代理人/指定代理人" class="responsible" v-for="(responsible, responsibleIndex) in accused.responsibles" :key="responsibleIndex">
          <p>
            <el-select v-model="responsible.role" class="width-30">
              <el-option v-for="option in options.responsibles" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-input v-model="responsible.name" placeholder="请输入法定代表人/负责人/法定代理人/指定代理人名称" class="width-65"></el-input>，
          </p>
          <p>
            <el-input v-model="responsible.info" type="textarea" :autosize="{minRows: 4}" placeholder="请输入法定代表人/负责人/法定代理人/指定代理人信息" class="width-100"></el-input>
          </p>
          <p>
            （
            <el-select v-model="responsible.isAppear" class="width-20">
              <el-option v-for="option in options.appears" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>
            以下简称<b>被{{responsibleIndex+1}}</b>）
            <el-dropdown>
              <el-button type="primary" size="mini">
                <i class="fa fa-trash">&nbsp;移除</i>
                <i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item>
                  <i @click="accusedHandler('responsible', 'remove', {accusedIndex, responsibleIndex})" class="fa fa-times color-danger">&nbsp;移除</i>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </p>
          <hr />
        </div>
        <div title="委托诉讼代理人" class="agent" v-for="(agent, agentIndex) in accused.agents" :key="agentIndex">
          <p>
            委托诉讼代理人：
            <el-input v-model="agent.name" placeholder="请输入委托诉讼代理人名称" class="width-83"></el-input>，
          </p>
          <p>
            <el-input v-model="agent.info" type="textarea" :autosize="{minRows: 4}" placeholder="请输入委托诉讼代理人信息" class="width-100"></el-input>
          </p>
          <p>
            （
            <el-select v-model="agent.isAppear" class="width-20">
              <el-option v-for="option in options.appears" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>
            ，
            <el-select v-model="agent.auth" class="width-25">
              <el-option v-for="auth in options.auths" :key="auth" :label="auth" :value="auth">
              </el-option>
            </el-select>
            以下简称<b>被代{{agentIndex + 1}}</b>
            <el-dropdown @click="accusedHandler('agent', 'add', {accusedIndex})" type="primary" size="mini" split-button>
              <i class="fa fa-plus">&nbsp;添加</i>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item></el-dropdown-item>
                <el-dropdown-item>
                  <i @click="accusedHandler('agent', 'remove', {accusedIndex, agentIndex})" class="fa fa-times color-danger">&nbsp;移除</i>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </p>
          <hr />
        </div>
      </div>
    </section>
    <!-- 第三人 -->
    <section title="第三人" class="thirdparty animated slideInDown" v-for="(thirdparty, accuserIndex) in trial.verification.participator.thirdparties" :key="accuserIndex">
      <div class="access">
        <i class="el-icon-edit-outline"></i>
        <em>信息核对&nbsp;-&nbsp;诉讼参与人&nbsp;-&nbsp;第三人</em>
        <div class="tools">
          <el-dropdown @click="thirdpartyHandler('thirdparty', 'add')" type="primary" size="small" split-button>
            <i class="fa fa-user-plus">&nbsp;添加</i>
            <el-dropdown-menu slot="dropdown">
              <el-dropdown-item></el-dropdown-item>
              <el-dropdown-item>
                <i @click="thirdpartyHandler('thirdparty', 'remove', {accuserIndex})" class="fa fa-user-times color-danger">&nbsp;移除</i>
              </el-dropdown-item>
            </el-dropdown-menu>
          </el-dropdown>
        </div>
      </div>
      <div class="content">
        <!-- 第三人 -->
        <div title="诉讼主体" class="subject animated slideInLeft" v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            <b>第三人</b>：
            <el-input v-model="subject.name" placeholder="请输入原告名称" class="width-92"></el-input>，
          </p>
          <p>
            <el-input v-model="subject.info" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告信息" class="width-100"></el-input>
          </p>
          <p>
            （
            <el-select v-model="subject.isAppear" class="width-20">
              <el-option v-for="appear in options.appears" :key="appear" :label="appear" :value="appear">
              </el-option>
            </el-select>
            以下简称<b>第{{subject.ordinal}}</b>）
            <el-dropdown @click="thirdpartyHandler('subject', 'add', {accuserIndex})" type="primary" size="mini" split-button>
              <i class="fa fa-plus">&nbsp;添加</i>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item></el-dropdown-item>
                <el-dropdown-item>
                  <i @click="thirdpartyHandler('subject', 'remove', {accuserIndex, subjectIndex})" class="fa fa-times color-danger">&nbsp;移除</i>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </p>
          <hr />
        </div>
        <div title="法定代表人/负责人/法定代理人/指定代理人" class="responsible" v-for="(responsible, responsibleIndex) in thirdparty.responsibles" :key="responsibleIndex">
          <p>
            <el-select v-model="responsible.role" class="width-30">
              <el-option v-for="option in options.responsibles" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-input v-model="responsible.name" placeholder="请输入法定代表人/负责人/法定代理人/指定代理人名称" class="width-65"></el-input>，
          </p>
          <p>
            <el-input v-model="responsible.info" type="textarea" :autosize="{minRows: 4}" placeholder="请输入法定代表人/负责人/法定代理人/指定代理人信息" class="width-100"></el-input>
          </p>
          <p>
            （
            <el-select v-model="responsible.isAppear" class="width-20">
              <el-option v-for="option in options.appears" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>
            以下简称<b>第{{responsibleIndex+1}}</b>）
            <el-dropdown>
              <el-button type="primary" size="mini">
                <i class="fa fa-trash">&nbsp;移除</i>
                <i class="el-icon-arrow-down el-icon--right"></i>
              </el-button>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item>
                  <i @click="thirdpartyHandler('responsible', 'remove', {accuserIndex, responsibleIndex})" class="fa fa-times color-danger">&nbsp;移除</i>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </p>
          <hr />
        </div>
        <div title="委托诉讼代理人" class="agent" v-for="(agent, agentIndex) in thirdparty.agents" :key="agentIndex">
          <p>
            委托诉讼代理人：
            <el-input v-model="agent.name" placeholder="请输入委托诉讼代理人名称" class="width-83"></el-input>，
          </p>
          <p>
            <el-input v-model="agent.info" type="textarea" :autosize="{minRows: 4}" placeholder="请输入委托诉讼代理人信息" class="width-100"></el-input>
          </p>
          <p>
            （
            <el-select v-model="agent.isAppear" class="width-20">
              <el-option v-for="option in options.appears" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>
            ，
            <el-select v-model="agent.auth" class="width-25">
              <el-option v-for="auth in options.auths" :key="auth" :label="auth" :value="auth">
              </el-option>
            </el-select>
            以下简称<b>第{{agentIndex + 1}}代</b>
            <el-dropdown @click="thirdpartyHandler('agent', 'add', {accuserIndex})" type="primary" size="mini" split-button>
              <i class="fa fa-plus">&nbsp;添加</i>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item></el-dropdown-item>
                <el-dropdown-item>
                  <i @click="thirdpartyHandler('agent', 'remove', {accuserIndex, agentIndex})" class="fa fa-times color-danger">&nbsp;移除</i>
                </el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
          </p>
          <hr />
        </div>
      </div>
    </section>
  </section>
  <section title="异议及理由" id="objection">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>信息核对&nbsp;-&nbsp;异议及理由</em>
    </div>
    <div class="content">
      <p>审：各方对出庭人员有无异议？</p>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-select v-model="subject.objection.status" class="width-25">
              <el-option v-for="option in options.objections" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="subject.objection.status === '有异议'">
            <el-input v-model="subject.objection.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-select v-model="subject.objection.status" class="width-25">
              <el-option v-for="option in options.objections" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="subject.objection.status === '有异议'">
            <el-input v-model="subject.objection.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-select v-model="subject.objection.status" class="width-25">
              <el-option v-for="option in options.objections" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="subject.objection.status === '有异议'">
            <el-input v-model="subject.objection.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section title="证人是否出庭" id="witness">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>信息核对&nbsp;-&nbsp;证人是否出庭</em>
    </div>
    <div class="content">
      <p>审：经核对，各方当事人和其他诉讼参加人均符合法律规定，可以参加本次诉讼活动。各方当事人是否有证人出庭作证？</p>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-input v-model="subject.witness.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-input v-model="subject.witness.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-input v-model="subject.witness.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- 庭审序言-庭审组织 -->
  <section title="庭审序言-庭审组织" id="organize">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>庭审序言-庭审组织</em>
    </div>
    <div class="content">
      <p>审：本院受理AAAAAAAAA与AAAAA一案后，根据《中华人民共和国民事诉讼法》第一百三十四条之规定，依法适用普通程序第二次公开开庭进行审理。 因工作调动，审判员/审判长/代理审判员/人民陪审员/书记员由XXX更换为XXX。 本案由审判长、审判员、审判员依法组成合议庭，由审判员担任审判长，由书记员担任记录。</p>
    </div>
  </section>
  <section title="庭审序言-告知诉讼权利" id="rights">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>庭审序言-告知诉讼权利</em>
    </div>
    <div class="content">
      <p>审：本院已在庭前向各方当事人送达了《当事人诉讼权利义务通知书》和《举证通知书》，是否收到？各方对自己的权利义务是否清楚？</p>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-input v-model="subject.rights.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-input v-model="subject.rights.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-input v-model="subject.rights.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <p>审：鉴于各方均已收到本院发出的当事人诉讼权利义务通知书，且对自己的权利义务均清楚，本庭不再另行通知当事人的诉讼权利和义务。</p>
    </div>
  </section>
  <section title="庭审序言-告知事项" id="matter">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>庭审序言-告知事项</em>
    </div>
    <div class="content">
      <p>审：为了严肃法庭纪律，规范庭审活动，本庭向各方当事人、诉讼参与人明确告知四项内容：</p>
      <p>一、根据最高人民法院相关规定，本案的庭审活动将进行全程同步录音（或录像），所形成的视频、音频资料将存入案件卷宗，并可能在网上公开或作法制宣传等之用。</p>
      <p>二、根据《中华人民共和国民事诉讼法》第十三条、第一百一十一条，最高人民法院《关于民事诉讼证据的若干规定》第八十条之规定，各方当事人和诉讼参与人在民事诉讼活动中应当遵循诚实信用原则，如实陈述案件事实和提供相关证据材料。如有作虚假陈述，提供虚假证据，妨碍证人、鉴定人、勘验人作证等行为的，除依法追究法律责任外，本庭还将对其违反诚信的行为作为综合评判案件事实和判决结果的考量因素。</p>
      <p>三、根据宪法和法律规定，人民法院依法独立行使审判权，法官依法审判案件，不受行政机关、社会团体和个人的干涉。各方当事人及诉讼参与人应以法律规定的方式表达诉求和提供证据，在诉讼过程中不得通过他人转交材料或转达诉求，不得庭外请托合议庭或其他法官，不得以任何形式干扰法院独立和公正行使审判权。如有上述不符合法律规定之行为的，本庭将记录在案，同时责令行为方向本庭及对方当事人作出说明。律师有上述行为的，本院还将函告司法行政部门。</p>
      <p>四、在案件审理过程中，本庭将严格遵守上级法院及本院有关审判工作纪律之规定，不接受当事人及相关人员的请客送礼，不与律师进行不正当交往，公开、公平、公正地审理案件。</p>
      <p>审：双方对以上内容是否清楚?</p>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-input v-model="subject.matter.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-input v-model="subject.matter.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-input v-model="subject.matter.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section title="庭审序言-是否申请回避" id="evasion">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>庭审序言-是否申请回避</em>
    </div>
    <div class="content">
      <p>审：根据《中华人民共和国民事诉讼法》第四十四条、四十五条、四十六条之规定，当事人可以申请回避，各方是否申请回避？</p>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-select v-model="subject.evasion.status" class="width-25">
              <el-option v-for="option in options.evasions" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="subject.evasion.status === '申请'">
            <el-input v-model="subject.evasion.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告回避理由" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-select v-model="subject.evasion.status" class="width-25">
              <el-option v-for="option in options.evasions" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="subject.evasion.status === '申请'">
            <el-input v-model="subject.evasion.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入被告回避理由" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-select v-model="subject.evasion.status" class="width-25">
              <el-option v-for="option in options.evasions" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="subject.evasion.status === '申请'">
            <el-input v-model="subject.evasion.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入第三人回避理由" class="width-100"></el-input>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section title="庭审序言-举证期限异议" id="evidence">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>庭审序言-举证期限异议</em>
    </div>
    <div class="content">
      <p>审：庭前向各方送达权利义务通知书、举证通知书，各方是否已收到？对证据期限有无异议？是否同意今天开庭？</p>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-select v-model="subject.evidence.status" class="width-25">
              <el-option v-for="option in options.objections" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.evidence.isAgree" class="width-20">
              <el-option v-for="option in options.agrees" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
          <p v-if="subject.evidence.status === '有异议'">
            <el-input v-model="subject.evidence.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议原因" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-select v-model="subject.evidence.status" class="width-25">
              <el-option v-for="option in options.objections" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.evidence.isAgree" class="width-20">
              <el-option v-for="option in options.agrees" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
          <p v-if="subject.evidence.status === '有异议'">
            <el-input v-model="subject.evidence.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入被告异议原因" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-select v-model="subject.evidence.status" class="width-25">
              <el-option v-for="option in options.objections" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.evidence.isAgree" class="width-20">
              <el-option v-for="option in options.agrees" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
          <p v-if="subject.evidence.status === '有异议'">
            <el-input v-model="subject.evidence.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入第三人异议原因" class="width-100"></el-input>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- 法庭调查 -->
  <section title="法庭调查-诉辩意见" id="opinion">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>法庭调查-诉辩意见</em>
    </div>
    <div class="content">
      <p>审：现在进行法庭调查。首先由原告简要陈述诉讼请求、事实和理由。</p>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-input v-model="subject.opinion.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告诉辩意见" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <p>审：现在由被告简要宣读答辩状或针对原告的诉讼请求及理由进行答辩。</p>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-input v-model="subject.opinion.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入被告诉辩意见" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <p>审：现在由第三人陈述意见。</p>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-input v-model="subject.opinion.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入第三人诉辩意见" class="width-100"></el-input>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section title="法庭调查-无争议归纳" id="undisputed">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>法庭调查-无争议归纳</em>
    </div>
    <div class="content">
      <p>审：根据各方陈述意见，归纳无争议及争议事实如下：无争议事实：</p>
      <el-input v-model="trial.investigate.conclude.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入无争议事实内容" class="width-100"></el-input>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-select v-model="subject.undisputed.isObjection" class="width-25">
              <el-option v-for="option in options.objections" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.undisputed.isSupply" class="width-20">
              <el-option v-for="option in options.supplys" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
        </div>
      </div>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-select v-model="subject.undisputed.isObjection" class="width-25">
              <el-option v-for="option in options.objections" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.undisputed.isSupply" class="width-20">
              <el-option v-for="option in options.supplys" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
        </div>
      </div>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-select v-model="subject.undisputed.isObjection" class="width-25">
              <el-option v-for="option in options.objections" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.undisputed.isSupply" class="width-20">
              <el-option v-for="option in options.supplys" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
        </div>
      </div>
    </div>
  </section>
  <section title="法庭调查-争议归纳" id="disputed">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>法庭调查-有争议归纳</em>
    </div>
    <div class="content">
      <p>审：争议事实：</p>
      <el-input v-model="trial.investigate.conclude.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入无争议事实内容" class="width-100"></el-input>
      <p>对于本院归纳内容是否有异议或补充？</p>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-select v-model="subject.disputed.isObjection" class="width-25">
              <el-option v-for="option in options.objections" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.disputed.isSupply" class="width-20">
              <el-option v-for="option in options.supplys" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
        </div>
      </div>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-select v-model="subject.disputed.isObjection" class="width-25">
              <el-option v-for="option in options.objections" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.disputed.isSupply" class="width-20">
              <el-option v-for="option in options.supplys" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
        </div>
      </div>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-select v-model="subject.disputed.isObjection" class="width-25">
              <el-option v-for="option in options.objections" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.disputed.isSupply" class="width-20">
              <el-option v-for="option in options.supplys" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
        </div>
      </div>
    </div>
  </section>
  <section title="法庭调查-法庭询问" id="inquiry">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>法庭调查-法庭询问</em>
    </div>
    <div class="content">
      <p>审：现在法庭做如下询问</p>
      <h1>全案要素表选择</h1>
    </div>
  </section>
  <section title="法庭调查-举证质证" id="proof">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>法庭调查-举证质证</em>
    </div>
    <div class="content">
      <p>审：现在开始举证，先由原告方举证。</p>
    </div>
  </section>
  <section title="法庭调查-争议事实认定" id="fact">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>法庭调查-争议事实认定</em>
    </div>
    <div class="content">
      <p>审：现在开始举证，先由原告方举证。</p>
    </div>
  </section>
  <!-- 法庭辩论 -->
  <section title="法庭辩论" id="argument">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>法庭辩论</em>
    </div>
    <div class="content">
      <p title="原告方辩论意见" id="accuser"></p>
      <p title="被告方辩论意见" id="accused"></p>
      <p title="第三人辩论意见" id="thirdparty"></p>
      <p title="庭审总结" id="summary"></p>
    </div>
  </section>
  <!-- 最后陈述 -->
  <section title="最后陈述" id="statement">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>最后陈述</em>
    </div>
    <div class="content">
      <p></p>
    </div>
  </section>
  <!-- 法庭调解 -->
  <section title="法庭调解" id="conciliation">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>法庭调解</em>
    </div>
    <div class="content">
      <p></p>
    </div>
  </section>
  <!-- 休庭宣读 -->
  <section title="休庭宣读" id="announce">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>休庭宣读</em>
    </div>
    <div class="content">
      <p>当事人及代理人签名处（注：当事人应当逐页在指定位置签名，并在末页写明：“以上笔录阅后无误”字样后签名并署时间）：</p>
    </div>
  </section>
  <!-- 其他 -->
  <footer title="其他" id="other">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>其他</em>
    </div>
    <div class="content">
      <p>书记员：全体起立，请审判人员退庭。请旁听人员退庭。请当事人退庭并到书记员处阅读庭审笔录并签名。</p>
      <p>（证据原件已退还当事人）</p>
      <p>（以上笔录阅后无误，请签字确认）</p>
      <p>
        <div>
          原告代理人签字：
        </div>
        <div>
          被告代理人签字：
        </div>
      </p>
    </div>
  </footer>
</article>
