<section title="法庭纪律" class="discipline">
  <div class="access">
    <i class="el-icon-edit-outline"></i>
    <em>法庭纪律</em>
  </div>
  <div class="content">
    <p>{{template.courtDiscipline.content.discipline_1}}</p>
    <p>
      {{template.courtDiscipline.content.discipline_3}}
      <b>{{trial.infomation.officer[0].duty}}</b>
      {{template.courtDiscipline.content.discipline_3_1}}
    </p>
    <p>
      {{template.courtDiscipline.content.discipline_4}}
      <b>{{trial.infomation.officer[0].duty}}</b>
      {{template.courtDiscipline.content.discipline_4_1}}
    </p>
    <p>{{template.courtDiscipline.content.discipline_5}}</p>
    <p>{{template.courtDiscipline.content.discipline_6}}</p>
    <p>
      {{template.courtDiscipline.content.discipline_7}}
      <b>{{trial.infomation.officer[0].duty}}</b>
      {{template.courtDiscipline.content.discipline_7_1}}
    </p>
    <p>{{template.courtDiscipline.content.discipline_8}}</p>
    <p>
      {{template.courtDiscipline.content.discipline_9}}
      <b>{{trial.infomation.officer[0].duty}}</b>
      {{template.courtDiscipline.content.discipline_9_1}}
      <!-- <b>{{trial.infomation.officer[0].duty}}</b>
      <b v-if="isChiefOfficer">、{{trial.infomation.officer[1].duty}}</b>
      <b v-if="isChiefOfficer">、{{trial.infomation.officer[2].duty}}</b> 入庭。 -->
    </p>
    <p>报告
      {{template.courtDiscipline.content.discipline_10}}
      <b>{{trial.infomation.officer[0].duty}}</b>
      {{template.courtDiscipline.content.discipline_10_1}}
    </p>
    <p>审：请坐下，准备法庭记录。</p>
    <p>{{template.informationCheck.content.courtAnnounced}}</p>
  </div>
</section>
