<section title="法庭纪律" class="discipline">
  <div class="access">
    <i class="el-icon-edit-outline"></i>
    <em>法庭纪律</em>
  </div>
  <div class="content">
    <p>书记员：当事人及其诉讼代理人入庭（核对当事人及代理人情况）。为了维护法庭秩序，保障审判活动正常进行，根据《中华人民共和国民事诉讼法》第一百三十七条第一款和《中华人民共和国人民法院法庭规则》之规定，现在宣布法庭纪律：</p>
    <p>1.开庭审理期间，当事人及其他诉讼参与人和旁听群众均应服从<b>{{trial.infomation.officer[0].duty}}</b>指挥；</p>
    <p>2.当事人及其他诉讼参与人在开庭审判期间的发言、陈述和辩论，须经<b>{{trial.infomation.officer[0].duty}}</b>许可；</p>
    <p>3.旁听群众不准进入审判区，不准发言、提问，未经许可不准录音、录像和摄影，不准鼓掌、喧哗、吵闹和有其他妨碍审判活动的行为；</p>
    <p>4.不准吸烟和随地吐痰，不得在法庭上使用移动电话；</p>
    <p>5.旁听群众对法庭的审判活动如有意见，可以在闭庭后书面向本院提出，对于违反法庭纪律而又不听劝告和制止的人，<b>{{trial.infomation.officer[0].duty}}</b>有权根据不同情节作出没收胶卷、录音带、录像带、笔记本或责令退出法庭等处理，情节严重的并可追究刑事责任；</p>
    <p>6.对哄闹、冲击法庭，侮辱、诽谤、威胁、殴打审判人员等严重扰乱法庭秩序的人，依法追究刑事责任；情节较轻的，予以罚款、拘留。</p>
    <p>
      全体起立，请<b>{{trial.infomation.officer[0].duty}}</b>入庭。
      <!-- <b>{{trial.infomation.officer[0].duty}}</b>
      <b v-if="isChiefOfficer">、{{trial.infomation.officer[1].duty}}</b>
      <b v-if="isChiefOfficer">、{{trial.infomation.officer[2].duty}}</b> 入庭。 -->
    </p>
    <p>报告<b>{{trial.infomation.officer[0].duty}}</b>本案诉讼当事人和其他诉讼参与人已经到齐，法庭准备就绪，请审判长核对并开庭。
    </p>
    <p>审：请坐下，准备法庭记录。</p>
    <p>审：（敲击法槌）现在开庭。首先核对当事人和其他诉讼参与人的基本信息</p>
  </div>
</section>
