@import '../common/styles/color';
#cases {
  aside.search {
    width: 300px; // 相对宽度
    height: 100%;
    float: left;
    background: $color-gray;
    position: fixed;
    form {
      margin-top: 20px;
      padding: 0 20px;
      * {
        &:first-child {
          width: 100%;
        }
        &:last-child {
          float: right;
        }
      }
    }
  }
  article.list {
    height: 100%;
    margin-left: 300px;
    background: $color-white;
    h1 {
      margin: 0;
      z-index: 999;
      position: fixed;
      width: 100%;
      line-height: 65px;
      background: $color-white;
      border: 1px solid $color-gray;
      .button {
        display: inline-block;
        margin-left: 20px;
      }
      .pagination {
        display: inline-block;
        position: relative;
        float: right;
        top: 18px;
        margin-right: 320px;
      }
    }
    section.tables {
      position: relative;
      top: 68px;
      z-index: 0;
      .el-collapse {
        border-bottom: 0 !important;
      }
      table {
        width: 100%;
        td:nth-child(1) {
          width: 35%;
        }
        td:nth-child(2) {
          width: 35%;
        }
        td:nth-child(3) {
          width: 30%;
        }
      }
    }
  }
  .dialog-add-case {
    .dialog-form {
      margin-right: 40px;
      * {
        width: 100%;
      }
    }
  }
}
