@import '../common/styles/color';
#cases {
  aside.search {
    width: 300px; // 相对宽度
    height: 100%;
    float: left;
    background: $color-gray;
    position: fixed;
    form {
      padding: 20px;
      >* {
        margin-bottom: 25px;
        &:first-child {
          width: 100%;
        }
        &:last-child {
          float: right;
        }
      }
    }
  }
  article.list {
    height: 100%;
    margin-left: 300px;
    background: $color-white;
    h1 {
      margin: 15px 0;
      .button {
        display: inline-block;
        margin-left: 20px;
      }
      .pagination {
        float: right;
        display: inline-block;
        margin-right: 20px;
      }
    }
    section.tables {
      table {
        width: 100%;
      }
    }
  }
}
