@import '../common/styles/color';
#cases {
  display: flex !important;
  flex-direction: row;
  aside.search {
    flex: 350px;
    height: 100%;
    background: $color-gray;
    form {
      padding: 20px;
      * {
        &:first-child {
          width: 100%;
        }
        &:last-child {
          float: right;
        }
      }
    }
  }
  article.cases {
    flex: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: $color-white;
    @import 'style.context.menu';
    >header {
      margin: 0;
      width: 100%;
      line-height: 50px;
      background: $color-white;
      border-bottom: 1px solid $color-gray;
      .button {
        display: inline-block;
        margin-left: 20px;
        position: relative;
        top: 2px;
      }
      .pagination {
        float: right;
        display: inline-block;
        position: relative;
        top: 13px;
        margin-right: 20px;
      }
    }
    >section {
      flex: 100%;
      margin-top: 3px;
      overflow-y: auto;
      .el-collapse {
        border-bottom: 0 !important;
      }
      * {
        width: 100%;
      }
      ul.case-list {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: 13px;
        color: #48576a;
        li {
          background: $color-white-dark;
          &:hover {
            background: $color-silver-light-extra;
            color: $color-black;
          }
          border-bottom: 1px solid $color-gray-light;
          table {
            caption {
              text-align: left;
              border-bottom: 1px solid $color-gray-light;
              line-height: 43px;
              background: $color-white;
              width: 100%;
              i {
                text-indent: 20px;
              }
            }
            tr {
              td {
                line-height: 23px;
                padding-left: 18px;
              }
              td:nth-child(1) {
                width: 35%;
              }
              td:nth-child(2) {
                width: 35%;
              }
              td:nth-child(3) {
                width: 30%;
              }
            }
          }
        }
      }
    }
  }
  @import 'style.dialog';
}
