@import '../common/styles/color';
#cases {
  aside.search {
    width: 300px; // 相对宽度
    height: 100%;
    float: left;
    background: $color-gray;
    position: fixed;
    form {
      margin-top: 20px;
      padding: 0 20px;
      * {
        &:first-child {
          width: 100%;
        }
        &:last-child {
          float: right;
        }
      }
    }
  }
  article.cases {
    height: 100%;
    margin-left: 299px;
    background: $color-white;
    >header {
      margin: 0;
      z-index: 99;
      position: fixed;
      width: 100%;
      line-height: 55px;
      background: $color-white;
      border-bottom: 1px solid $color-gray;
      .button {
        display: inline-block;
        margin-left: 20px;
        position: relative;
        bottom: -2px;
      }
      .pagination {
        float: right;
        display: inline-block;
        position: relative;
        top: 13px;
        margin-right: 320px;
      }
    }
    >section {
      position: relative;
      top: 61px;
      z-index: 0;
      .el-collapse {
        border-bottom: 0 !important;
      }
      * {
        width: 100%;
      }
      ul.case-list {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style-type: none;
        font-size: 13px;
        color: #48576a;
        li {
          background: $color-white-dark;
          &:hover {
            background: $color-blue-light;
          }
          border-bottom: 1px solid $color-gray-light;
          table {
            caption {
              text-align: left;
              border-bottom: 1px solid $color-gray-light;
              line-height: 43px;
              background: $color-white;
              width: 100%;
              i {
                text-indent: 20px;
              }
            }
            tr {
              td {
                line-height: 23px;
                padding-left: 18px;
              }
              td:nth-child(1) {
                width: 35%;
              }
              td:nth-child(2) {
                width: 35%;
              }
              td:nth-child(3) {
                width: 30%;
              }
            }
          }
        }
      }
    }
  }
  .dialog-add-case {
    .dialog-form {
      margin: 0 50px 0 20px;
      * {
        width: 100%;
      }
    }
  }
}
