<div id='cases'>
  <aside class='search'>
    <form>
      <el-select v-model='search.status' placeholder='案件状态'>
        <el-option v-for='item in options' :key='item.value' :label='item.label' :value='item.value'>
        </el-option>
      </el-select>
      <el-input v-model='search.reason' placeholder='请输入案由'></el-input>
      <el-input v-model='search.number' placeholder='请输入案号'></el-input>
      <el-input v-model='search.name' placeholder='当事人名称'></el-input>
      <div class='operation'>
        <el-button @click='httpGet' type='primary' icon='search'>查询案件</el-button>
      </div>
    </form>
  </aside>
  <article class='list'>
    <h1>
      <div class="button">
        <el-button type='info' :plain="true" icon='upload'>录入案件</el-button>
      </div>
      <div class="pagination">
        <el-pagination @size-change="changePageSize" @current-change="changeCurrentPage" :current-page="search.current" :page-sizes="[5, 10, 20, 30, 40, 50]"
          :page-size="search.size" layout="total, sizes, prev, pager, next, jumper" :total="search.total">
        </el-pagination>
      </div>
    </h1>
    <section class='tables'>
      <el-collapse v-for='(item, index) in list' :key="index" :value="index">
        <el-collapse-item :name='index'>
          <template slot="title">
            <i class="fa fa-briefcase"></i>
            {{item.title}}
          </template>
          <table>
            <tr>
              <td>原告：{{item.accuser}}</td>
              <td>被告：{{item.defendant}}</td>
              <td>案由：{{item.case_brief}}</td>
            </tr>
            <tr>
              <td>案号：{{item.case_no}}</td>
              <td>开庭：{{item.court_open_date}}</td>
              <td>审限：{{item.judge_interval}}</td>
            </tr>
          </table>
        </el-collapse-item>
      </el-collapse>
    </section>
  </article>
</div>
