<section title="异议及理由" class="verification-objection" v-if="((!trial.verification.other.defendantPartFlag && trial.verification.other.thirdManFlag) || (trial.verification.other.defendantPartFlag && !trial.verification.other.thirdManFlag)) || trial.verification.other.attendanceFlag">
  <div class="access">
    <i class="el-icon-edit-outline"></i>
    <em>信息核对&nbsp;-&nbsp;异议及理由</em>
    <div class="tools">
      <el-tag size="small" type="warning" v-if="trial.adjourn ==='verification-objection'">此处休庭</el-tag>
      <el-dropdown>
        <el-button type="primary" size="small">
          操作<i class="el-icon-arrow-down el-icon--right"></i>
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>
            <i @click="setAdjourn('verification-objection')" class="fa fa-gavel">&nbsp;休庭</i>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
  <div class="content">
    <p>审：各方对出庭人员有无异议？</p>
    <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
        <p v-if="subject.showFlag">
          原<span>{{ subject.ordinal }}</span>：
          <el-select v-model="subject.objection.status" class="width-25">
            <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>
          <span v-if="subject.objection.status === '有异议'">，</span>
          <span v-if="subject.objection.status === '无异议'">。</span>
        </p>
        <p v-if="subject.objection.status === '有异议' && subject.showFlag">
          <el-input v-model="subject.objection.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in accuser.responsibles" :key="responsibleIndex">
        <p v-if="responsible.showFlag">
          原<span v-if="trial.verification.participator.accusers.length > 1">{{accuserIndex + 1}}</span><span>{{responsible.shortName}}</span><span v-if="accuser.responsibles.length > 1 && responsible.shortName">{{responsibleIndex + 1}}</span>：
          <el-select v-model="responsible.objection.status" class="width-25">
            <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>
          <span v-if="responsible.objection.status === '有异议'">，</span>
          <span v-if="responsible.objection.status === '无异议'">。</span>
        </p>
        <p v-if="responsible.objection.status === '有异议' && responsible.showFlag">
          <el-input v-model="responsible.objection.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in accuser.agents" :key="agentIndex">
        <p v-if="agent.showFlag">
          原<b v-if="trial.verification.participator.accusers.length > 1">{{accuserIndex + 1}}</b>代<span v-if="accuser.agents.length > 1">{{agentIndex+1}}</span>：
          <el-select v-model="agent.objection.status" class="width-25">
            <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>
          <span v-if="agent.objection.status === '有异议'">，</span>
          <span v-if="agent.objection.status === '无异议'">。</span>
        </p>
        <p v-if="agent.objection.status === '有异议' && agent.showFlag">
          <el-input v-model="agent.objection.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
    </div>
    <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
        <p v-if="subject.showFlag">
          被<span>{{ subject.ordinal }}</span>：
          <el-select v-model="subject.objection.status" class="width-25">
            <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>
          <span v-if="subject.objection.status === '有异议'">，</span>
          <span v-if="subject.objection.status === '无异议'">。</span>
        </p>
        <p v-if="subject.objection.status === '有异议' && subject.showFlag">
          <el-input v-model="subject.objection.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入被告异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in accused.responsibles" :key="responsibleIndex">
        <p v-if="responsible.showFlag">
          被<span v-if="trial.verification.participator.accuseds.length > 1">{{accusedIndex + 1}}</span><span>{{responsible.shortName}}</span><span v-if="accused.responsibles.length > 1 && responsible.shortName">{{responsibleIndex + 1}}</span>：
          <el-select v-model="responsible.objection.status" class="width-25">
            <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>
          <span v-if="responsible.objection.status === '有异议'">，</span>
          <span v-if="responsible.objection.status === '无异议'">。</span>
        </p>
        <p v-if="responsible.objection.status === '有异议' && responsible.showFlag">
          <el-input v-model="responsible.objection.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入被告异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in accused.agents" :key="agentIndex">
        <p v-if="agent.showFlag">
          被<b v-if="trial.verification.participator.accuseds.length > 1">{{accusedIndex + 1}}</b>代<span v-if="accused.agents.length > 1">{{agentIndex+1}}</span>：
          <el-select v-model="agent.objection.status" class="width-25">
            <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>
          <span v-if="agent.objection.status === '有异议'">，</span>
          <span v-if="agent.objection.status === '无异议'">。</span>
        </p>
        <p v-if="agent.objection.status === '有异议' && agent.showFlag">
          <el-input v-model="agent.objection.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入被告异议内容" class="width-100"></el-input>
        </p>
      </div>
    </div>
    <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
        <p v-if="subject.showFlag">
          第<span>{{ subject.ordinal }}</span>：
          <el-select v-model="subject.objection.status" class="width-25">
            <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>
          <span v-if="subject.objection.status === '有异议'">，</span>
          <span v-if="subject.objection.status === '无异议'">。</span>
        </p>
        <p v-if="subject.objection.status === '有异议' && subject.showFlag">
          <el-input v-model="subject.objection.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入第三人异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in thirdparty.responsibles" :key="responsibleIndex">
        <p v-if="responsible.showFlag">
          第<span v-if="trial.verification.participator.thirdparties.length > 1">{{thirdpartyIndex + 1}}</span><span>{{responsible.shortName}}</span><span v-if="thirdparty.responsibles.length > 1 && responsible.shortName">{{responsibleIndex + 1}}</span>：
          <el-select v-model="responsible.objection.status" class="width-25">
            <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>
          <span v-if="responsible.objection.status === '有异议'">，</span>
          <span v-if="responsible.objection.status === '无异议'">。</span>
        </p>
        <p v-if="responsible.objection.status === '有异议' && responsible.showFlag">
          <el-input v-model="responsible.objection.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入第三人异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in thirdparty.agents" :key="agentIndex">
        <p v-if="agent.showFlag">
          第<b v-if="trial.verification.participator.thirdparties.length > 1">{{thirdpartyIndex + 1}}</b>代<span v-if="thirdparty.agents.length > 1">{{agentIndex+1}}</span>：
          <el-select v-model="agent.objection.status" class="width-25">
            <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
            </el-option>
          </el-select>
          <span v-if="agent.objection.status === '有异议'">，</span>
          <span v-if="agent.objection.status === '无异议'">。</span>
        </p>
        <p v-if="agent.objection.status === '有异议' && agent.showFlag">
          <el-input v-model="agent.objection.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入第三人异议内容" class="width-100"></el-input>
        </p>
      </div>
    </div>
  </div>
</section>
