@import '../common/styles/color';
#trial {
  display: flex !important;
  flex-direction: row;
  nav.menu {
    flex: 0 0 300px;
    height: 100%;
    background: $color-gray-light-extra;
  }
  article.main {
    height: 100%;
    flex: 0 0 900px;
    border-right: 1px solid $color-gray-light;
    border-left: 1px solid $color-gray-light;
    overflow-y: auto;
    header.tools {
      border-bottom: 1px solid $color-gray-light;
      line-height: 50px;
      position: fixed;
      background: $color-white-dark;
      width: 900px;
      .left {
        display: inline-block;
        position: relative;
        left: 40px;
      }
      .right {
        float: right;
        display: inline-block;
        position: relative;
        right: 30px;
      }
    }
    [contenteditable] {
      outline: none;
    }
    article.document {
      padding: 40px 50px;
    }
  }
  aside.helper {
    flex: 100%;
    height: 100%;
    overflow-y: hidden;
  }
}
