@import '../common/styles/color';
#trial {
  display: flex !important;
  flex-direction: row;
  nav.menu {
    flex: auto;
    height: 100%;
    background: $color-gray-light;
    header {
      border-bottom: 1px solid $color-gray;
      cursor: pointer;
      button {
        text-indent: 12px;
        height: 44px;
        color: $color-black-light-extra;
      }
    }
    article {}
  }
  article.main {
    height: 100%;
    flex: 0 0 900px;
    border-right: 1px solid $color-gray-light;
    border-left: 1px solid $color-gray-light;
    overflow-y: auto;
    header.tools {
      border-bottom: 1px solid $color-gray;
      line-height: 44px;
      position: fixed;
      background: $color-white-dark;
      width: 900px;
      .left {
        display: inline-block;
        position: relative;
        left: 40px;
        button {
          position: relative;
          top: -1px;
        }
      }
      .right {
        float: right;
        display: inline-block;
        position: relative;
        right: 30px;
      }
    }
    article.document {
      background: url(../assets/editor/paper.png);
    }
    [contenteditable] {
      outline: none;
    }
    article.document {
      padding: 40px 50px;
    }
  }
  aside.helper {
    flex: 100%;
    height: 100%;
    overflow-y: hidden;
  }
}
