<section title="庭审总结" class="argument-summary">
  <!-- <div class="access">
    <i class="el-icon-edit-outline"></i>
    <em>法庭辩论-新增辩论次数</em>
    <div class="tools">
      <el-dropdown @click="addTrial()" type="primary" size="small" split-button>
        <i class="fa fa-user-plus">&nbsp;添加辩论次数</i>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item></el-dropdown-item>
          <el-dropdown-item>
            <i @click="delDebate()" class="fa fa-user-times color-danger">&nbsp;移除</i>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div> -->
  <!-- </div> -->
  <div class="content" v-for="(times,index) in trial.argument.other.debateArray">
    <button class="el-button el-button--info el-button--mini" @click="delDebate({index})">移除</button>
     <p>审：现在进行第<span>{{index+2}}</span>轮辩论。首先由原告发表第<span>{{index+2}}</span>轮辩论意见。</p>
     <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
        <p v-if="subject.showFlag">
          原{{subject.ordinal}}：
          <el-input v-model="subject.argument[index + 1].detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告辩论意见" class="width-100"></el-input>
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in accuser.responsibles" :key="responsibleIndex">
        <p v-if="responsible.showFlag">
          原：
          <el-input v-model="responsible.argument[index + 1].detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告辩论意见" class="width-100"></el-input>
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in accuser.agents" :key="agentIndex">
        <p v-if="agent.showFlag">
          原<b v-if="trial.verification.participator.accusers.length > 1">{{accuserIndex + 1}}</b>代<span v-if="accuser.agents.length > 1">{{agentIndex+1}}</span>：
          <el-input v-model="agent.argument[index + 1].detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告辩论意见" class="width-100"></el-input>
        </p>
      </div>
    </div>
    <p>审：现在由被告发表辩论意见。</p>
    <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
        <p v-if="subject.showFlag">
          被{{subject.ordinal}}：
          <el-input v-model="subject.argument[index + 1].detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入被告辩论意见" class="width-100"></el-input>
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in accused.responsibles" :key="responsibleIndex">
        <p v-if="responsible.showFlag">
          被：
          <el-input v-model="responsible.argument[index + 1].detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入被告辩论意见" class="width-100"></el-input>
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in accused.agents" :key="agentIndex">
        <p v-if="agent.showFlag">
          被<b v-if="trial.verification.participator.accuseds.length > 1">{{accusedIndex + 1}}</b>代<span v-if="accused.agents.length > 1">{{agentIndex+1}}</span>：
          <el-input v-model="agent.argument[index + 1].detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入被告辩论意见" class="width-100"></el-input>
        </p>
      </div>
    </div>
    <p>审：现在由第三人发表意见。</p>
    <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
        <p v-if="subject.showFlag">
          第{{subject.ordinal}}：
          <el-input v-model="subject.argument[index + 1].detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入第三人辩论意见" class="width-100"></el-input>
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in thirdparty.responsibles" :key="responsibleIndex">
        <p v-if="responsible.showFlag">
          第：
          <el-input v-model="responsible.argument[index + 1].detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入第三人辩论意见" class="width-100"></el-input>
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in thirdparty.agents" :key="agentIndex">
        <p v-if="agent.showFlag">
          第<b v-if="trial.verification.participator.thirdparties.length > 1">{{thirdpartyIndex + 1}}</b>代<span v-if="thirdparty.agents.length > 1">{{agentIndex+1}}</span>：
          <el-input v-model="agent.argument[index + 1].detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入第三人辩论意见" class="width-100"></el-input>
        </p>
      </div>
    </div>
  </div>
  <!-- 缺席时显示 -->
  <div title="缺席审理" class="content" v-if="trial.verification.other.absenseStatus">
    <p>审：鉴于
    <span v-for="(person, personIndex) in trial.verification.other.absentee">
      <b>{{ person.type }}</b>
      <b>{{ person.name }}</b>
      <b v-if="trial.verification.other.absentee.length > 1 && personIndex + 1 < trial.verification.other.absentee.length">、</b>
    </span>
    经本院依法传唤，无正当理由拒不当庭，无法发表辩论意见，
    <span v-for="(person, personIndex) in trial.verification.other.absentee">
      <b>{{ person.type }}</b>
      <b>{{ person.name }}</b>
      <b v-if="trial.verification.other.absentee.length > 1 && personIndex + 1 < trial.verification.other.absentee.length">、</b>
    </span>
    辩论意见予以省略。</p>
    <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
        <p v-if="subject.showFlag">
          原<span>{{ subject.ordinal }}</span>：
          <el-input v-model="subject.absenceArgument.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in accuser.responsibles" :key="responsibleIndex">
        <p v-if="responsible.showFlag">
          原：
          <el-input v-model="responsible.absenceArgument.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in accuser.agents" :key="agentIndex">
        <p v-if="agent.showFlag">
          原<b v-if="trial.verification.participator.accusers.length > 1">{{accuserIndex + 1}}</b>代<span v-if="accuser.agents.length > 1">{{agentIndex+1}}</span>：
          <el-input v-model="agent.absenceArgument.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
    </div>
    <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
        <p v-if="subject.showFlag">
          被<span>{{ subject.ordinal }}</span>：
          <el-input v-model="subject.absenceArgument.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in accused.responsibles" :key="responsibleIndex">
        <p v-if="responsible.showFlag">
          被：
          <el-input v-model="responsible.absenceArgument.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in accused.agents" :key="agentIndex">
        <p v-if="agent.showFlag">
          被<b v-if="trial.verification.participator.accuseds.length > 1">{{accusedIndex + 1}}</b>代<span v-if="accused.agents.length > 1">{{agentIndex+1}}</span>：
          <el-input v-model="agent.absenceArgument.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
    </div>
    <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
        <p v-if="subject.showFlag">
          第<span>{{ subject.ordinal }}</span>：
          <el-input v-model="subject.absenceArgument.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in thirdparty.responsibles" :key="responsibleIndex">
        <p v-if="responsible.showFlag">
          第：
          <el-input v-model="responsible.absenceArgument.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in thirdparty.agents" :key="agentIndex">
        <p v-if="agent.showFlag">
          第<b v-if="trial.verification.participator.thirdparties.length > 1">{{thirdpartyIndex + 1}}</b>代<span v-if="thirdparty.agents.length > 1">{{agentIndex+1}}</span>：
          <el-input v-model="agent.absenceArgument.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
    </div>
  </div>
</section>
