<section title="庭审序言-告知诉讼权利" class="preface-rights">
  <div class="access">
    <i class="el-icon-edit-outline"></i>
    <em>庭审序言-告知诉讼权利</em>
    <div class="tools">
      <el-tag size="small" type="warning" v-if="trial.adjourn ==='preface-rights'">此处休庭</el-tag>
      <el-button @click="setAdjourn('preface-rights')" type="primary" size="mini">
        <i class="fa fa-gavel">&nbsp;休庭</i>
      </el-button>
    </div>
  </div>
  <div class="content">
    <p>审：本院已在庭前向各方当事人送达了《当事人诉讼权利义务通知书》和《举证通知书》，是否收到？各方对自己的权利义务是否清楚？</p>
    <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
        <p v-if="subject.showFlag">
          原{{subject.ordinal}}：
          <el-input v-model="subject.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in accuser.responsibles" :key="responsibleIndex">
        <p v-if="responsible.showFlag">
          原<span v-for="(number,index) in trial.verification.participator.accusers[accuserIndex].serialNumbers">
            <span>{{number.num}}</span>
            <i v-if="trial.verification.participator.accusers[accuserIndex].serialNumbers.length > 1 && index + 1 < trial.verification.participator.accusers[accuserIndex].serialNumbers.length">、</i>
          </span><span>{{responsible.shortName}}</span><span v-if="accuser.responsibles.length > 1 && responsible.shortName">{{responsibleIndex + 1}}</span>：
          <el-input v-model="responsible.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in accuser.agents" :key="agentIndex">
        <p v-if="agent.showFlag">
          原<span v-for="(number,index) in trial.verification.participator.accusers[accuserIndex].serialNumbers">
            <span>{{number.num}}</span>
            <i v-if="trial.verification.participator.accusers[accuserIndex].serialNumbers.length > 1 && index + 1 < trial.verification.participator.accusers[accuserIndex].serialNumbers.length">、</i>
          </span>代<span v-if="accuser.agents.length > 1">{{agentIndex+1}}</span>：
          <el-input v-model="agent.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
    </div>
    <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
        <p v-if="subject.showFlag">
          被{{ subject.ordinal }}：
          <el-input v-model="subject.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in accused.responsibles" :key="responsibleIndex">
        <p v-if="responsible.showFlag">
          被<span v-for="(number,index) in trial.verification.participator.accuseds[accusedIndex].serialNumbers">
            <span>{{number.num}}</span>
            <i v-if="trial.verification.participator.accuseds[accusedIndex].serialNumbers.length > 1 && index + 1 < trial.verification.participator.accuseds[accusedIndex].serialNumbers.length">、</i>
          </span><span>{{responsible.shortName}}</span><span v-if="accused.responsibles.length > 1 && responsible.shortName">{{responsibleIndex + 1}}</span>：
          <el-input v-model="responsible.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in accused.agents" :key="agentIndex">
        <p v-if="agent.showFlag">
          被<span v-for="(number,index) in trial.verification.participator.accuseds[accusedIndex].serialNumbers">
            <span>{{number.num}}</span>
            <i v-if="trial.verification.participator.accuseds[accusedIndex].serialNumbers.length > 1 && index + 1 < trial.verification.participator.accuseds[accusedIndex].serialNumbers.length">、</i>
          </span>代<span v-if="accused.agents.length > 1">{{agentIndex+1}}</span>：
          <el-input v-model="agent.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
    </div>
    <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
        <p v-if="subject.showFlag">
          第{{subject.ordinal}}：
          <el-input v-model="subject.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in thirdparty.responsibles" :key="responsibleIndex">
        <p v-if="responsible.showFlag">
          第 <span v-for="(number,index) in trial.verification.participator.thirdparties[thirdpartyIndex].serialNumbers">
            <span>{{number.num}}</span>
            <i v-if="trial.verification.participator.thirdparties[thirdpartyIndex].serialNumbers.length > 1 && index + 1 < trial.verification.participator.thirdparties[thirdpartyIndex].serialNumbers.length">、</i>
          </span><span>{{responsible.shortName}}</span><span v-if="thirdparty.responsibles.length > 1 && responsible.shortName">{{responsibleIndex + 1}}</span>：
          <el-input v-model="responsible.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in thirdparty.agents" :key="agentIndex">
        <p v-if="agent.showFlag">
          第 <span v-for="(number,index) in trial.verification.participator.thirdparties[thirdpartyIndex].serialNumbers">
            <span>{{number.num}}</span>
            <i v-if="trial.verification.participator.thirdparties[thirdpartyIndex].serialNumbers.length > 1 && index + 1 < trial.verification.participator.thirdparties[thirdpartyIndex].serialNumbers.length">、</i>
          </span>代<span v-if="thirdparty.agents.length > 1">{{agentIndex+1}}</span>：
          <el-input v-model="agent.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
        </p>
      </div>
    </div>
    <p>审：鉴于各方均已收到本院发出的当事人诉讼权利义务通知书，且对自己的权利义务均清楚，本庭不再另行通知当事人的诉讼权利和义务。</p>
    <p>审：根据《中华人民共和国民事诉讼法》第十条、第四十四条、第四十五条、第四十六条之规定，当事人对审判人员有申请回避的权利，如果当事人认为上列人员中有与本案有利害关系或者其他关系，可能影响案件的公正审理，有权用口头或书面形式申请回避，但应当说明理由。审判人员的回避由本院院长决定，书记员的回避由审判长决定。</p>
  </div>
</section>
