<section title="被告方辩论意见" class="argument-accused">
  <div class="access">
    <i class="el-icon-edit-outline"></i>
    <em>法庭辩论-被告方辩论意见</em>
    <div class="tools">
      <el-dropdown>
        <el-button type="primary" size="small">
          操作<i class="el-icon-arrow-down el-icon--right"></i>
        </el-button>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item>
            <i class="fa fa-gavel">&nbsp;休庭</i>
          </el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </div>
  <div class="content">
    <p>审：现在由被告发表辩论意见。</p>
    <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
      <div title="诉讼主体" v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
        <p>
          被{{subject.ordinal}}：
          <el-input v-model="subject.argument[0].detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告诉辩意见" class="width-100"></el-input>
        </p>
      </div>
      <div title="责任人" v-for="(responsible, responsibleIndex) in accused.responsibles" :key="responsibleIndex">
        <p>
          被：
          <el-input v-model="responsible.argument[0].detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告诉辩意见" class="width-100"></el-input>
        </p>
      </div>
      <div title="代理人" v-for="(agent, agentIndex) in accused.agents" :key="agentIndex">
        <p>
          被代<span v-if="accused.agents.length > 1">{{agentIndex+1}}</span>：
          <el-input v-model="agent.argument[0].detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告诉辩意见" class="width-100"></el-input>
        </p>
      </div>
    </div>
  </div>
</section>
