<div title="庭审序言" class="preface">
  <section title="庭审序言-庭审组织" class="organize">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>庭审序言-庭审组织</em>
      <div class="tools">
        <el-button @click="changeJudge()" size='small' type='primary'>
          <i class='fa fa-user'>&nbsp;是否更换审判人员</i>
        </el-button>
      </div>
    </div>
    <div class="content">
      <p>审：本院受理案号
        <span>{{ trial.infomation.code }}</span>原告
        <span v-for="data in trial.verification.participator.accusers">
          <span v-for="item in data.subjects">
          <span>{{ item.name }}</span>
        </span>
        </span>
        与被告
        <span v-for="data in trial.verification.participator.accuseds">
          <span v-for="item in data.subjects">
          <span>{{ item.name }}</span>
        </span>
        </span>
        一案后，根据《中华人民共和国民事诉讼法》第一百三十四条之规定，依法适用 普通程序第
        <span>{{ trial.infomation.location.times }}</span>次{{ trial.infomation.isPublic }}开庭进行审理。
        <el-input style="margin: 5px 0" v-model="trial.preface.organize.detail" v-if="trial.preface.organize.status == 'show'" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告信息" class="width-100"></el-input>
        本案由
        <span>{{ trial.infomation.officer[0].duty }}</span><span>{{ trial.infomation.officer[0].name }}</span>、
        <span>{{ trial.infomation.officer[1].duty }}</span><span>{{ trial.infomation.officer[1].name }}</span>、
        <span>{{ trial.infomation.officer[2].duty }}</span><span>{{ trial.infomation.officer[2].name }}</span>依法组成合议庭，由审判员
        <span>{{ trial.infomation.officer[0].name }}</span>担任审判长，由书记员
        <span>{{ trial.infomation.clerk }}</span>担任记录。
      </p>
    </div>
  </section>
  <section title="庭审序言-告知诉讼权利" class="rights">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>庭审序言-告知诉讼权利</em>
    </div>
    <div class="content">
      <p>审：本院已在庭前向各方当事人送达了《当事人诉讼权利义务通知书》和《举证通知书》，是否收到？各方对自己的权利义务是否清楚？</p>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div title="诉讼主体" v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-input v-model="subject.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
        <div title="责任人" v-for="(responsible, responsibleIndex) in accuser.responsibles" :key="responsibleIndex">
          <p>
            原{{responsibleIndex+1}}：
            <el-input v-model="responsible.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
        <div title="代理人" v-for="(agent, agentIndex) in accuser.agents" :key="agentIndex">
          <p>
            原代{{agentIndex+1}}：
            <el-input v-model="agent.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div title="诉讼主体" v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-input v-model="subject.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
        <div title="责任人" v-for="(responsible, responsibleIndex) in accused.responsibles" :key="responsibleIndex">
          <p>
            被{{responsibleIndex+1}}：：
            <el-input v-model="responsible.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
        <div title="代理人" v-for="(agent, agentIndex) in accused.agents" :key="agentIndex">
          <p>
            被代{{agentIndex+1}}：：
            <el-input v-model="agent.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div title="诉讼主体" v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-input v-model="subject.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
        <div title="责任人" v-for="(responsible, responsibleIndex) in thirdparty.responsibles" :key="responsibleIndex">
          <p>
            第{{responsibleIndex+1}}：
            <el-input v-model="responsible.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
        <div title="代理人" v-for="(agent, agentIndex) in thirdparty.agents" :key="agentIndex">
          <p>
            第代{{agentIndex+1}}：
            <el-input v-model="agent.rights.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <p>审：鉴于各方均已收到本院发出的当事人诉讼权利义务通知书，且对自己的权利义务均清楚，本庭不再另行通知当事人的诉讼权利和义务。</p>
    </div>
  </section>
  <section title="庭审序言-告知事项" class="matter">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>庭审序言-告知事项</em>
    </div>
    <div class="content">
      <p>审：为了严肃法庭纪律，规范庭审活动，本庭向各方当事人、诉讼参与人明确告知四项内容：</p>
      <p>一、根据最高人民法院相关规定，本案的庭审活动将进行全程同步录音（或录像），所形成的视频、音频资料将存入案件卷宗，并可能在网上公开或作法制宣传等之用。</p>
      <p>二、根据《中华人民共和国民事诉讼法》第十三条、第一百一十一条，最高人民法院《关于民事诉讼证据的若干规定》第八十条之规定，各方当事人和诉讼参与人在民事诉讼活动中应当遵循诚实信用原则，如实陈述案件事实和提供相关证据材料。如有作虚假陈述，提供虚假证据，妨碍证人、鉴定人、勘验人作证等行为的，除依法追究法律责任外，本庭还将对其违反诚信的行为作为综合评判案件事实和判决结果的考量因素。</p>
      <p>三、根据宪法和法律规定，人民法院依法独立行使审判权，法官依法审判案件，不受行政机关、社会团体和个人的干涉。各方当事人及诉讼参与人应以法律规定的方式表达诉求和提供证据，在诉讼过程中不得通过他人转交材料或转达诉求，不得庭外请托合议庭或其他法官，不得以任何形式干扰法院独立和公正行使审判权。如有上述不符合法律规定之行为的，本庭将记录在案，同时责令行为方向本庭及对方当事人作出说明。律师有上述行为的，本院还将函告司法行政部门。</p>
      <p>四、在案件审理过程中，本庭将严格遵守上级法院及本院有关审判工作纪律之规定，不接受当事人及相关人员的请客送礼，不与律师进行不正当交往，公开、公平、公正地审理案件。</p>
      <p>审：双方对以上内容是否清楚?</p>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div title="诉讼主体" v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-input v-model="subject.matter.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
        <div title="责任人" v-for="(responsible, responsibleIndex) in accuser.responsibles" :key="responsibleIndex">
          <p>
            原{{responsibleIndex+1}}：
            <el-input v-model="responsible.matter.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
        <div title="代理人" v-for="(agent, agentIndex) in accuser.agents" :key="agentIndex">
          <p>
            原代{{agentIndex+1}}：
            <el-input v-model="agent.matter.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div title="诉讼主体" v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-input v-model="subject.matter.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
        <div title="责任人" v-for="(responsible, responsibleIndex) in accused.responsibles" :key="responsibleIndex">
          <p>
            被{{responsibleIndex+1}}：
            <el-input v-model="responsible.matter.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
        <div title="代理人" v-for="(agent, agentIndex) in accused.agents" :key="agentIndex">
          <p>
            被代{{agentIndex+1}}：
            <el-input v-model="agent.matter.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div title="诉讼主体" v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-input v-model="subject.matter.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
        <div title="责任人" v-for="(responsible, responsibleIndex) in thirdparty.responsibles" :key="responsibleIndex">
          <p>
            第{{responsibleIndex+1}}：
            <el-input v-model="responsible.matter.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
        <div title="代理人" v-for="(agent, agentIndex) in thirdparty.agents" :key="agentIndex">
          <p>
            第代{{agentIndex+1}}：
            <el-input v-model="agent.matter.detail" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section title="庭审序言-是否申请回避" class="evasion">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>庭审序言-是否申请回避</em>
    </div>
    <div class="content">
      <p>审：根据《中华人民共和国民事诉讼法》第四十四条、四十五条、四十六条之规定，当事人可以申请回避，各方是否申请回避？</p>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div title="诉讼主体" v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-select v-model="subject.evasion.status" class="width-25">
              <el-option v-for="option in options.evasion" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="subject.evasion.status === '申请'">
            <el-input v-model="subject.evasion.content" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告回避理由" class="width-100"></el-input>
          </p>
        </div>
        <div title="责任人" v-for="(responsible, responsibleIndex) in accuser.responsibles" :key="responsibleIndex">
          <p>
            原{{responsibleIndex+1}}：
            <el-select v-model="responsible.evasion.status" class="width-25">
              <el-option v-for="option in options.evasion" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="responsible.evasion.status === '申请'">
            <el-input v-model="responsible.evasion.content" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告回避理由" class="width-100"></el-input>
          </p>
        </div>
        <div title="代理人" v-for="(agent, agentIndex) in accuser.agents" :key="agentIndex">
          <p>
            原代{{agentIndex+1}}：
            <el-select v-model="agent.evasion.status" class="width-25">
              <el-option v-for="option in options.evasion" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="agent.evasion.status === '申请'">
            <el-input v-model="agent.evasion.content" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告回避理由" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div title="诉讼主体" v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-select v-model="subject.evasion.status" class="width-25">
              <el-option v-for="option in options.evasion" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="subject.evasion.status === '申请'">
            <el-input v-model="subject.evasion.content" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告回避理由" class="width-100"></el-input>
          </p>
        </div>
        <div title="责任人" v-for="(responsible, responsibleIndex) in accused.responsibles" :key="responsibleIndex">
          <p>
            被{{responsibleIndex+1}}：
            <el-select v-model="responsible.evasion.status" class="width-25">
              <el-option v-for="option in options.evasion" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="responsible.evasion.status === '申请'">
            <el-input v-model="responsible.evasion.content" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告回避理由" class="width-100"></el-input>
          </p>
        </div>
        <div title="代理人" v-for="(agent, agentIndex) in accused.agents" :key="agentIndex">
          <p>
            被代{{agentIndex+1}}：
            <el-select v-model="agent.evasion.status" class="width-25">
              <el-option v-for="option in options.evasion" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="agent.evasion.status === '申请'">
            <el-input v-model="agent.evasion.content" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告回避理由" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div title="诉讼主体" v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-select v-model="subject.evasion.status" class="width-25">
              <el-option v-for="option in options.evasion" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="subject.evasion.status === '申请'">
            <el-input v-model="subject.evasion.content" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告回避理由" class="width-100"></el-input>
          </p>
        </div>
        <div title="责任人" v-for="(responsible, responsibleIndex) in thirdparty.responsibles" :key="responsibleIndex">
          <p>
            第{{responsibleIndex+1}}：
            <el-select v-model="responsible.evasion.status" class="width-25">
              <el-option v-for="option in options.evasion" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="responsible.evasion.status === '申请'">
            <el-input v-model="responsible.evasion.content" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告回避理由" class="width-100"></el-input>
          </p>
        </div>
        <div title="代理人" v-for="(agent, agentIndex) in thirdparty.agents" :key="agentIndex">
          <p>
            第代{{agentIndex+1}}：
            <el-select v-model="agent.evasion.status" class="width-25">
              <el-option v-for="option in options.evasion" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="agent.evasion.status === '申请'">
            <el-input v-model="agent.evasion.content" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告回避理由" class="width-100"></el-input>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section title="庭审序言-举证期限异议" class="evidence">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>庭审序言-举证期限异议</em>
    </div>
    <div class="content">
      <p>审：庭前向各方送达权利义务通知书、举证通知书，各方是否已收到？对证据期限有无异议？是否同意今天开庭？</p>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div title="诉讼主体" v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-select v-model="subject.evidence.status" class="width-25">
              <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.evidence.isAgree" class="width-20">
              <el-option v-for="option in options.agree" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
          <p v-if="subject.evidence.status === '有异议'">
            <el-input v-model="subject.evidence.content" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议原因" class="width-100"></el-input>
          </p>
        </div>
        <div title="代理人" v-for="(responsible, responsibleIndex) in accuser.responsibles" :key="responsibleIndex">
          <p>
            原{{responsibleIndex+1}}：
            <el-select v-model="responsible.evidence.status" class="width-25">
              <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="responsible.evidence.isAgree" class="width-20">
              <el-option v-for="option in options.agree" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
          <p v-if="responsible.evidence.status === '有异议'">
            <el-input v-model="responsible.evidence.content" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议原因" class="width-100"></el-input>
          </p>
        </div>
        <div title="代理人" v-for="(agent, agentIndex) in accuser.agents" :key="agentIndex">
          <p>
            原代{{agentIndex+1}}：
            <el-select v-model="agent.evidence.status" class="width-25">
              <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="agent.evidence.isAgree" class="width-20">
              <el-option v-for="option in options.agree" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
          <p v-if="agent.evidence.status === '有异议'">
            <el-input v-model="agent.evidence.content" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议原因" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div title="诉讼主体" v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-select v-model="subject.evidence.status" class="width-25">
              <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.evidence.isAgree" class="width-20">
              <el-option v-for="option in options.agree" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
          <p v-if="subject.evidence.status === '有异议'">
            <el-input v-model="subject.evidence.content" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议原因" class="width-100"></el-input>
          </p>
        </div>
        <div title="代理人" v-for="(responsible, responsibleIndex) in accused.responsibles" :key="responsibleIndex">
          <p>
            被{{responsibleIndex+1}}：
            <el-select v-model="responsible.evidence.status" class="width-25">
              <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="responsible.evidence.isAgree" class="width-20">
              <el-option v-for="option in options.agree" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
          <p v-if="responsible.evidence.status === '有异议'">
            <el-input v-model="responsible.evidence.content" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议原因" class="width-100"></el-input>
          </p>
        </div>
        <div title="代理人" v-for="(agent, agentIndex) in accused.agents" :key="agentIndex">
          <p>
            被代{{agentIndex+1}}：
            <el-select v-model="agent.evidence.status" class="width-25">
              <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="agent.evidence.isAgree" class="width-20">
              <el-option v-for="option in options.agree" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
          <p v-if="agent.evidence.status === '有异议'">
            <el-input v-model="agent.evidence.content" type="textarea" :autosize="{minRows: 2}" placeholder="请输入原告异议原因" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-select v-model="subject.evidence.status" class="width-25">
              <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
            <el-select v-model="subject.evidence.isAgree" class="width-20">
              <el-option v-for="option in options.agree" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>。
          </p>
          <p v-if="subject.evidence.status === '有异议'">
            <el-input v-model="subject.evidence.content" type="textarea" :autosize="{minRows: 2}" placeholder="请输入第三人异议原因" class="width-100"></el-input>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
