<div id="trial-sidebar-list">
  <el-table :data="trials" height="400" stripe>
    <el-table-column width="200" type="index" label="名称">
      <template slot-scope="scope">
        <i class="fa fa-file-text"></i>
        <span class="trial-name" @click="peekTrial(scope.row)" title="点击预览">
          第{{scope.$index + 1}}次庭审笔录
        </span>
      </template>
    </el-table-column>
    <!-- <el-table-column prop="create_time" label="时间" width="200">
    </el-table-column>
    <el-table-column prop="case_no" label="案号" width="400">
    </el-table-column> -->
    <el-table-column min-width="400" label="操作">
      <template slot-scope="scope">
        <el-button v-if="scope.row.final_version === 0" @click="finalTrial(scope.row)" type="default" size="mini" plain round>
          <!-- <i title="设置为最终版本笔录" class="fa fa-lock"></i> -->
          最终版本
        </el-button>
        <el-button v-if="scope.row.final_version === 0" @click="updateTrial(scope.row)" type="primary" size="mini" plain round>
          <!-- <i title="修改当前笔录" class="fa fa-pencil-square-o"></i> -->
          修改
        </el-button>
        <el-button v-if="scope.row.final_version === 0" @click="removeTrial(scope.row)" type="danger" size="mini" plain round>
          <!-- <i title="删除当前笔录" class="fa fa-trash"></i> -->
          删除
        </el-button>
        <!-- 是否已经设置为最终版本的提示信息 -->
        <el-tag v-if="scope.row.final_version !== 0" type="warning">
          <i class="fa fa-info-circle">&nbsp;已设置最终版本</i>
        </el-tag>
      </template>
    </el-table-column>
  </el-table>
  <!-- 预览弹窗 -->
  <el-dialog class="dialog-preview" :visible.sync="peekDialogVisible" width="50%" top="0">
    <header slot="title">
      <el-button-group>
        <el-button @click="print" size="mini" type="default">
          <i class="fa fa-print">&nbsp;打印</i>
        </el-button>
        <el-button @click="exportWord" size="mini" type="default">
          <i class="fa fa-file-word-o">&nbsp;导出Word</i>
        </el-button>
        <el-button @click="exportPDF" size="mini" type="default">
          <i class="fa fa-file-pdf-o">&nbsp;导出PDF</i>
        </el-button>
      </el-button-group>
    </header>
    <article style="padding: 0 50px;" v-html="htmlTrial"></article>
  </el-dialog>
</div>
