<aside id="trial-sidebar">
  <el-collapse class="collapse" v-model="activedCollapse">
    <el-collapse-item name="trials">
      <template slot="title">
        <i class="fa fa-list"></i>
        庭审笔录
      </template>
      <el-table :data="trials" height="400" stripe>
        <el-table-column fixed prop="case_no" label="序号" width="150">
        </el-table-column>
        <el-table-column prop="create_time" label="时间" width="600">
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="137">
          <template slot-scope="scope">
            <el-button type="text" size="small">查看</el-button>
            <el-button type="text" size="small">编辑</el-button>
            <el-button type="text" size="small">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-collapse-item>
    <el-collapse-item name="ocr" class="ocr">
      <template slot="title">
        <i class="fa fa-cloud-upload">&nbsp;&nbsp;案件材料</i>
      </template>
      <div class="wrap">
        <el-upload action="/uploadCaseFiles" :auto-upload="false" list-type="picture" multiple>
          <el-button slot="trigger" size="mini" type="warning">
            <i class="fa fa-folder-open">&nbsp;选取文件</i>
          </el-button>
          <el-button size="mini" type="success">
            <i class="fa fa-cloud-upload">&nbsp;上传材料</i>
          </el-button>
          <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且大小不超过800kb</div>
        </el-upload>
        <el-carousel :autoplay="false" type="card" height="400px">
          <el-carousel-item v-for="item in 6" :key="item">
            <el-card :body-style="{padding: '0px'}">
              {{item}}<img src="" />
            </el-card>
          </el-carousel-item>
        </el-carousel>
      </div>
    </el-collapse-item>
  </el-collapse>
</aside>
