@import '../../../common/styles/color';
#trial-article-preview {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: url(../../../assets/editor/paper.png);
  @import '../common';
}
