<div title="信息核对" class="verification">
  <div title="诉讼参与人" class="participator">
    <!-- 原告 -->
    <trial-accuser></trial-accuser>
    <!-- 被告 -->
    <trial-accused></trial-accused>
    <!-- 第三人 -->
    <trial-thirdparty></trial-thirdparty>
  </div>
  <section title="异议及理由" class="objection">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>信息核对&nbsp;-&nbsp;异议及理由</em>
    </div>
    <div class="content">
      <p>审：各方对出庭人员有无异议？</p>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-select v-model="subject.objection.status" class="width-25">
              <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="subject.objection.status === '有异议'">
            <el-input v-model="subject.objection.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-select v-model="subject.objection.status" class="width-25">
              <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="subject.objection.status === '有异议'">
            <el-input v-model="subject.objection.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-select v-model="subject.objection.status" class="width-25">
              <el-option v-for="option in options.objection" :key="option" :label="option" :value="option">
              </el-option>
            </el-select>，
          </p>
          <p v-if="subject.objection.status === '有异议'">
            <el-input v-model="subject.objection.content" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
    </div>
  </section>
  <section title="证人是否出庭" class="witness">
    <div class="access">
      <i class="el-icon-edit-outline"></i>
      <em>信息核对&nbsp;-&nbsp;证人是否出庭</em>
    </div>
    <div class="content">
      <p>审：经核对，各方当事人和其他诉讼参加人均符合法律规定，可以参加本次诉讼活动。各方当事人是否有证人出庭作证？</p>
      <div title="原告" v-for="(accuser, accuserIndex) in trial.verification.participator.accusers" :key="accuserIndex">
        <div v-for="(subject, subjectIndex) in accuser.subjects" :key="subjectIndex">
          <p>
            原：
            <el-input v-model="subject.witness.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="被告" v-for="(accused, accusedIndex) in trial.verification.participator.accuseds" :key="accusedIndex">
        <div v-for="(subject, subjectIndex) in accused.subjects" :key="subjectIndex">
          <p>
            被：
            <el-input v-model="subject.witness.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
      <div title="第三人" v-for="(thirdparty, thirdpartyIndex) in trial.verification.participator.thirdparties" :key="thirdpartyIndex">
        <div v-for="(subject, subjectIndex) in thirdparty.subjects" :key="subjectIndex">
          <p>
            第：
            <el-input v-model="subject.witness.detail" type="textarea" :autosize="{minRows: 4}" placeholder="请输入原告异议内容" class="width-100"></el-input>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
