#trial-sidebar-ocr {
  div.wrap {
    margin: 0 15px 15px 15px;
  }
  .thumbnail {
    overflow: auto;
    min-height: .01%;
    height: 210px;
    display: flex; // flex-flow: row wrap;
    margin-top: 8px;
    img {
      justify-content: center;
      margin: 3px;
      height: 150px;
      width: 122px;
      max-width: 122px !important;
      cursor: pointer;
    }
    .imageName {
      width: 100px;
      word-break: keep-all;
      word-wrap: break-word;
      text-overflow: ellipsis;
      max-width: 120px;
      display: inline-block;
      height: 20px;
      overflow: hidden;
    }
  }
  .dialog {
    .left {
      width: 50%;
      height: 100%;
      img {
        width: 100%;
      }
    }
    .right {
      width: 50%;
      height: 100%;
      .ocrResultStyle {
        font-Size: 16px;
        overflow: scroll;
        height: 500px;
      }
    }
  }
}
