#trial-sidebar-ocr {
  .upload {
    margin: 0 15px 15px 15px;
    .thumbnails {
      overflow-y: scroll;
      width: 100%;
      height: 210px;
      margin-top: 8px;
      .box-card {
        display: inline-block;
        width: 160px;
        height: 200px;
        img {
          display: inline-block;
          height: 100%;
          width: 100%;
          cursor: pointer;
        }
      }
    }
  }
  .dialog {
    .left {
      width: 50%;
      height: 100%;
      img {
        width: 100%;
      }
    }
    .right {
      width: 50%;
      height: 100%;
      .result {
        font-Size: 16px;
        overflow: scroll;
        height: 500px;
      }
    }
  }
}
