@import '../../../common/styles/color';
#trial-article-editor {
  @import '../style.toolbar';
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $color-white;
  .toolbar {}
  .document {
    padding: 0 !important;
    header {
      text-align: center;
      padding: 19px 0 18px 0;
      background: $color-white;
      border-bottom: 1px solid $color-border-light;
      h1,
      h2 {
        display: inline;
        font-weight: normal;
      }
      h1 {
        font-size: 25px;
      }
      h2 {
        font-size: 22px;
      }
    }
    section,
    footer {
      background: $color-white;
      border-bottom: 1px solid $color-border-light;
      .access {
        background: $color-white-dark;
        height: 50px;
        line-height: 50px;
        border-bottom: 1px solid $color-border-light;
        border-right: 1px solid $color-border-light;
        padding: 0 30px;
        b {
          font-weight: normal;
          font-size: 14px;
        }
        &:hover {
          background: $color-white;
          cursor: pointer;
        }
      }
      .content {
        padding: 15px 30px 15px 30px;
      }
      p {
        padding: 0;
        font-size: 14px;
      }
    }
  }
  /* Footer */
  footer {}
}
