@import '../../../common/styles/color';
#trial-article-editor {
  @import '../../style.toolbar';
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Header */
  header {
    text-align: center;
    h1,
    h2 {
      display: inline;
    }
    h1 {
      font-size: 22px;
    }
    h2 {
      font-size: 20px;
    }
  }
  /* Section */
  section {}
  /* Footer */
  footer {}
}
