@import '../../../common/styles/color';
#trial-article-editor {
  position: relative;
  top: 65px;
  padding: 0px 50px;
  [contenteditable] {
    outline: none;
  }
  color: $color-black-light;
  /* Header */
  header {
    text-align: center;
    h1,
    h2 {
      display: inline;
    }
    h1 {
      font-size: 22px;
    }
    h2 {
      font-size: 20px;
    }
  }
  /* Section */
  section {}
  /* Footer */
  footer {}
}
