@import '../../../common/styles/color';
#trial-article-editor {
  @import '../style.toolbar';
  display: flex;
  flex-direction: column;
  height: 100%;
  /* Header */
  header {
    text-align: center;
    padding: 18px 0;
    background: $color-white;
    h1,
    h2 {
      display: inline;
      font-weight: normal;
    }
    h1 {
      font-size: 25px;
    }
    h2 {
      font-size: 22px;
    }
  }
  /* Section */
  .content {
    padding: 0 !important;
    section {
      padding: 0 20px 15px 20px;
      border-bottom: 1px solid $color-border-light;
    }
  }
  /* Footer */
  footer {}
}
