@import '../../../common/styles/color';
#trial-article-toolbar {
  line-height: 44px;
  .left {
    display: inline-block;
    position: relative;
    left: 40px;
    button {
      position: relative;
      top: -1px;
    }
  }
  .right {
    float: right;
    display: inline-block;
    position: relative;
    right: 30px;
  }
}
